In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt, timedelta
from filehandling import BatchProcess
import winsound
access_exports_filepath =r"S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_Access_Databases_Price_Errors"

curr_date = dt.today().strftime('%Y%m%d')

In [9]:
%%time
filename=access_exports_filepath+r'\Libra\libra_contract.xlsx'
libra_P10=pd.read_excel(filename, header = 0)
libra_P10

CPU times: total: 7min 20s
Wall time: 7min 26s

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,CONTRACT_ID,CONTRACT_TITLE
0,CT11 - NHS Hotel Services,2023,11,47,901,J6,RXT,Birmingham and Solihull Mental Health NHS Foun...,UMH3742,6,1,1,1,6,12.66,12.66,AA135708,Catering Consumables and Equipment 2021
1,CT10 - Food,2023,11,47,901,J6,RXT,Birmingham and Solihull Mental Health NHS Foun...,ACC140,1,1,1,6,6,1.92,11.49,AA135462,Hot Beverage Vending Consumables 2021
2,CT03 - Infection Control and Wound Care,2023,11,47,901,J7,RXW,Shrewsbury and Telford Hospital NHS Trust,ELY977,5,1,1,33,165,1.70,55.97,AA136646,General Wound Care
3,CT01 - Ward Based Consumables,2023,11,47,901,J6,RXT,Birmingham and Solihull Mental Health NHS Foun...,FWM2430,100,1,1,2,200,6.81,13.61,AA133880,Enteral Feeding Bile Bags and Associated Products
4,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,11,47,901,J7,RXW,Shrewsbury and Telford Hospital NHS Trust,GQV2208,5,1,1,1,5,23.70,23.70,AA132292,Orthoses Podiatry and Associated Products 2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,CT03 - Infection Control and Wound Care,2023,10,43,920,IY,RYX,Central London Community Healthcare NHS Trust,ELA451,10,4585,1,26,260,15.04,390.93,AA136158,Advanced Wound Care
1048571,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,10,43,997,03,04CHD,NHS Leicester City CCG (Home Delivery),ZEZ367H,1,1,1,169,169,1.61,272.09,AA114208,Delivery Charge Home Delivery Service
1048572,CT10 - Food,2023,10,43,905,M7,RX4,Cumbria Northumberland Tyne and Wear NHS Found...,ACZ116,24,1,1,30,720,2.58,77.40,AA134330,Cold Beverages Confectionery And Snacks 2021
1048573,CT01 - Ward Based Consumables,2023,10,43,920,A1,RGN,North West Anglia NHS Foundation Trust,FSU145,1,1,2,5,5,43.57,217.86,AA136692,Central Venous Catheters and Associated Produc...
1048574,CT11 - NHS Hotel Services,2023,10,43,920,A1,RGN,North West Anglia NHS Foundation Trust,UTC313,1000,1,1,2,2000,28.88,57.76,AA135708,Catering Consumables and Equipment 2021

In [10]:
libra_P10.groupby('TOWER_NAME').size().sort_values(ascending=False) \
  .reset_index(name='NPC')

                                           TOWER_NAME     NPC
0                       CT01 - Ward Based Consumables  246804
1             CT03 - Infection Control and Wound Care  208339
2   CT05 - Rehabilitation, Disabled Services, Wome...  145735
3               CT02 - Sterile Intervention Equipment  110408
4                           CT11 - NHS Hotel Services   83738
5                           CT09 - Office Consumables   75512
6   CT06 - Cardio-Vascular, Radiology, Endoscopy, ...   60646
7   CT04 - Orthopaedics, Trauma & Spine and Opthal...   50895
8                                         CT10 - Food   46254
9   CT08 - Diagnostic Equipment and Associated Con...   19140
10  CT07 - Large Diagnostic Capital Devices Includ...    1104

## 24/02/23 - Investigate T4

In [13]:
T4 =libra_P10[libra_P10['TOWER_NAME'].str.contains('CT04')]
print(np.shape(T4))

(50895, 18)

In [15]:
PG_ID_list= [1,258,507,1269,1604,1937,2394,2489]

T4_pgid = T4[T4['PG_ID'].isin(PG_ID_list)]
T4_pgid

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,CONTRACT_ID,CONTRACT_TITLE
15,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,11,47,905,5E,RTR,South Tees Hospitals NHS Foundation Trust,FJP1624,1,1,1,1,1,382.20,382.20,AA131446,Total Orthopaedic Solutions 2
16,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,11,47,905,5E,RTR,South Tees Hospitals NHS Foundation Trust,FJU3073,1,258,1,1,1,87.92,87.92,AA131388,Total Orthopaedic Solutions 2
69,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,903,MC,R0A,Manchester University NHS Foundation Trust,FJT20981,1,1269,1,1,1,191.89,191.89,AA131388,Total Orthopaedic Solutions 2
140,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,905,25,RCD,Harrogate and District NHS Foundation Trust,FSP517,10,1,1,3,30,9.60,28.80,AA135186,Complete Ophthalmology Solutions 2
142,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,904,TK,RHM,University Hospital Southampton NHS Foundation...,FSP588,10,1,1,4,40,9.60,38.40,AA135186,Complete Ophthalmology Solutions 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048077,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,42,901,R3,RTG,University Hospitals of Derby and Burton NHS F...,FIC24451,1,1,1,3,3,27.52,82.55,AA131388,Total Orthopaedic Solutions 2
1048123,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,42,903,70,RBL,Wirral University Teaching Hospital NHS Founda...,FSP4114,5,1,1,1,5,210.00,210.00,AA135184,Complete Ophthalmology Solutions 2
1048141,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,42,903,MC,R0A,Manchester University NHS Foundation Trust,FDX1564,1,1269,1,1,1,96.00,96.00,AA131356,Total Orthopaedic Solutions 2
1048169,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,42,905,23,RCB,York and Scarborough Teaching Hospital NHS Fou...,FQX2441,1,1,1,1,1,125.80,125.80,AA131446,Total Orthopaedic Solutions 2
1048458,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,42,904,08,R0D,University Hospitals Dorset NHS Foundation Trust,FJY18984,5,1,1,2,10,79.86,159.72,AA131400,Total Orthopaedic Solutions 2

In [16]:
T4_pgid.to_excel('T4_pgid'+curr_date+'.xlsx', index = False)

In [ ]:
T4 =libra_P10[libra_P10['TOWER_NAME'].str.contains('CT04')]
print(np.shape(T4))

# Part 1 - concat libra txt files

In [5]:
%%time
#this block of code was for concatenating csvs I had to create because I exported the text files from Access without the 
#header by mistake
curr_date = dt.today().strftime('%Y%m%d')
summ_data_all_filename = 'Libra2023YTD_'+curr_date+'.csv'

for index, filename in enumerate(BatchProcess("libra2023P*.csv")):
    print(index)
    print(filename)
    if index == 0:
        file_output = pd.read_csv(filename, header = 0,encoding='cp1252')
    else:
        file2 = pd.read_csv(filename, header = 0,encoding='cp1252')
        file_output=pd.concat([file_output, file2], ignore_index=True, sort=False)
print(np.shape(file_output))
file_output.to_csv(summ_data_all_filename, index = False)
winsound.Beep(310,500)
winsound.Beep(240,300)

0
libra2023P10.csv
1
libra2023P123.csv
2
libra2023P456.csv
3
libra2023P789.csv
(11451276, 17)
CPU times: total: 2min 8s
Wall time: 2min 10s

In [2]:
%%time
curr_date = dt.today().strftime('%Y%m%d')
libra_filepath =r"S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_1_2_Prices_margins_review"
summ_data_all_filename = 'Libra2022_23_all_'+curr_date+'.csv'

for index, filename in enumerate(BatchProcess(libra_filepath +r"\Qry3*.txt")):
    print(index)
    print(filename)
    if index == 0:
        file_output = pd.read_csv(filename, header = 0,encoding='cp1252')
    else:
        file2 = pd.read_csv(filename, header = 0,encoding='cp1252')
        file_output=pd.concat([file_output, file2], ignore_index=True, sort=False)
print(np.shape(file_output))
file_output.to_csv(summ_data_all_filename, index = False)
winsound.Beep(310,500)
winsound.Beep(240,300)

0
S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_1_2_Prices_margins_review\Qry3_libra2023P789.txt
1
S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_1_2_Prices_margins_review\Qry3_libra_2023P123.txt
2
S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_1_2_Prices_margins_review\Qry3_libra_2023P456.txt
3
S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_1_2_Prices_margins_review\Qry3_libra_2023_P10.txt
(11451272, 53)
CPU times: total: 4min 57s
Wall time: 13min 36s

## Part 2 Read libra file, merge PGID

In [2]:
%%time
libra_df=pd.read_csv('Libra2023YTD_20230203.csv')
print(np.shape(libra_df))
libra_df.head(3)

(11451276, 17)
CPU times: total: 36.6 s
Wall time: 37.2 s

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
0,CT10 - Food,2023,10,41,920,X7,R1A,Herefordshire and Worcestershire Health and Ca...,AAQ024,24.0,1,1,5.0,120.0,9.11,45.55,AA134298
1,CT10 - Food,2023,10,41,905,WT,FMM46,York Teaching Hospital Facilities Management LLP,AAQ024,24.0,1,1,2.0,48.0,9.11,18.22,AA134298
2,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,10,41,907,21,RYR,University Hospitals Sussex NHS Foundation Trust,ABT740,24.0,1,1,25.0,600.0,6.29,157.25,AA136704

In [4]:
leeds = libra_df[libra_df["TRUST_NAME"].str.contains('Leeds')]
leeds

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
16,CT10 - Food,2023,10,41,905,66,RGD,Leeds and York Partnership NHS Foundation Trust,AFP039,120.0,1,1,51.0,6120.0,1.93,98.43,AA136414
102,CT03 - Infection Control and Wound Care,2023,10,41,905,64,RR8,Leeds Teaching Hospitals NHS Trust,EHA053,12.0,1,1,1.0,12.0,4.25,4.25,AA136698
188,"CT06 - Cardio-Vascular, Radiology, Endoscopy, ...",2023,10,41,905,64,RR8,Leeds Teaching Hospitals NHS Trust,FAL3516,1.0,4949,1,3.0,3.0,137.89,413.68,AA134624
233,CT01 - Ward Based Consumables,2023,10,41,905,62,RR8,Leeds Teaching Hospitals NHS Trust,FDF1254,10.0,1,1,4.0,40.0,9.96,39.84,AA131328
252,CT01 - Ward Based Consumables,2023,10,41,905,62,RR8,Leeds Teaching Hospitals NHS Trust,FDK360,10.0,1,1,0.0,0.0,0.00,0.00,AA131798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450945,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,9,40,905,62,RR8,Leeds Teaching Hospitals NHS Trust,CFP2068,25.0,1,1,8.0,200.0,2.83,22.65,AA136448
11451009,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,9,40,905,64,RR8,Leeds Teaching Hospitals NHS Trust,FSS1061,5.0,1,1,0.0,0.0,0.00,0.00,AA131956
11451012,CT08 - Diagnostic Equipment and Associated Con...,2023,9,40,905,62,RR8,Leeds Teaching Hospitals NHS Trust,ILB002,12.0,1,1,1.0,12.0,22.66,22.66,AA133972
11451041,CT10 - Food,2023,9,40,905,66,RGD,Leeds and York Partnership NHS Foundation Trust,AAV006,6.0,1,1,1.0,6.0,3.84,3.84,AA134338
11451240,CT03 - Infection Control and Wound Care,2023,9,40,905,64,RR8,Leeds Teaching Hospitals NHS Trust,EIA097,100.0,1,1,1.0,100.0,0.83,0.83,AA136584

In [5]:
leeds.columns

Index(['TOWER_NAME', 'NHS_YEAR', 'NHS_PERIOD_NO', 'NHS_WEEK_NO',
       'WAREHOUSE_CODE', 'DISTRICT_CODE', 'DOH_CODE', 'TRUST_NAME', 'NPC',
       'UOI_UNITS', 'PG_ID', 'PRICE_BAND', 'SumOfSUPPLIED_QUANTITY',
       'SumOfSUPPLIED_INDIVIDUAL_UNITS', 'SALE_PRICE', 'SumOfSALES',
       'Contract_ID'],
      dtype='object')

In [14]:
libra_df.sort_values(by=['NHS_WEEK_NO'],ascending=False)

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
464385,CT03 - Infection Control and Wound Care,2023,10,43,907,04,RTP,Surrey and Sussex Healthcare NHS Trust,ENI296,100.0,1,1,4.0,400.0,0.41,1.64,AA136638
329504,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,10,43,903,8F,RNN,North Cumbria Integrated Care NHS Foundation T...,FKQ118,100.0,1,1,2.0,200.0,8.40,16.80,AA132120
329513,CT03 - Infection Control and Wound Care,2023,10,43,920,5I,NHSSP,NHS Service Providers,VJT169,200.0,4370,1,2.0,400.0,4.55,9.11,AA136914
329512,CT03 - Infection Control and Wound Care,2023,10,43,903,OW,GPSAL,GP Sales Accounts (Other),FSL086,1.0,4378,1,1.0,1.0,1.28,1.28,AA130992
329511,CT01 - Ward Based Consumables,2023,10,43,905,OY,GPSAL,GP Sales Accounts (Other),FWC027,100.0,4378,1,3.0,300.0,8.73,26.18,AA135616
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372863,CT03 - Infection Control and Wound Care,2023,1,1,905,FC,FMN17,North Tees and Hartlepool Solutions LLP,VJT113,25.0,1,1,3.0,75.0,7.10,21.31,AA129130
1372862,CT03 - Infection Control and Wound Care,2023,1,1,917,AP,RRV,University College London Hospitals NHS Founda...,VJT113,25.0,1,2,12.0,300.0,6.95,83.38,AA129130
1372861,CT01 - Ward Based Consumables,2023,1,1,905,X1,FMN14,City Hosp Independ Comm Enter Sunderland,KFK061,50.0,5743,1,9.0,450.0,4.85,43.57,AA133916
1372860,CT11 - NHS Hotel Services,2023,1,1,907,04,RTP,Surrey and Sussex Healthcare NHS Trust,MFD869,1.0,1,1,2.0,2.0,2.12,4.25,AA135802
1485251,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,1,1,905,72,RXF,Mid Yorkshire Hospitals NHS Trust,ABT740,24.0,1,1,3.0,72.0,6.29,18.87,AA136704

In [6]:
libra_df['SumOfSALES'].sum()

2357514628.1699986

In [3]:
pgid_name_class= pd.read_excel("PGID_name_classific.xlsx")
pgid_name_class

      PG_ID                                  PG_NAME Category
0      5781        Genmed Ltd NCF Core Catalogue-ROH     Core
1      5836            ICF - Ramsay Healthcare - NCF     Core
2      5568                  ICF NCF Band 1   0-24.9     Core
3      5569                 ICF NCF Band 2   25-49.9     Core
4      5570                 ICF NCF Band 3   50-74.9     Core
...     ...                                      ...      ...
5845   6981  Ct02 Cf Npm Mis United Lincs J&j 1 Year      NPM
5846   6982   Ct01 Cf Npm Med Matters Sensors Tier 1      NPM
5847   6983   Ct01 Cf Npm Med Matters Sensors Tier 2      NPM
5848   6984   Ct01 Cf Npm Med Matters Sensors Tier 3      NPM
5849      1                                 National      NaN

[5850 rows x 3 columns]

In [4]:
libra_data = pd.merge(libra_df, pgid_name_class,  how='left', on=['PG_ID'])
print(np.shape(libra_data))

(11451276, 19)

In [6]:
libra_data.to_csv('libra_data_'+curr_date+'.csv', index = False)

## Part 3. Filter Data into Groups

## A. Filter by Month

## B.  Filter by Customer

In [12]:
one_cust=libra_data.loc[(libra_data['WAREHOUSE_CODE']==904) & (libra_data['DISTRICT_CODE']=='TK')]
one_cust

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID,PG_NAME,Category
166,CT03 - Infection Control and Wound Care,2023,10,41,904,TK,RHM,University Hospital Southampton NHS Foundation...,ELY355,10.0,1,1,2.0,20.0,18.47,36.94,AA136134,National,NaN
270,CT01 - Ward Based Consumables,2023,10,41,904,TK,RHM,University Hospital Southampton NHS Foundation...,FDK239,100.0,1,1,0.0,0.0,0.00,0.00,AA131798,National,NaN
317,CT03 - Infection Control and Wound Care,2023,10,41,904,TK,RHM,University Hospital Southampton NHS Foundation...,FSL401,1.0,4787,2,48.0,48.0,1.11,53.48,AA130992,Cf Npm Tier 1 Mauser Category 3,NPM
451,CT01 - Ward Based Consumables,2023,10,41,904,TK,RHM,University Hospital Southampton NHS Foundation...,FWM993,1.0,1,1,15.0,15.0,99.93,1498.95,AA133880,National,NaN
590,CT03 - Infection Control and Wound Care,2023,10,41,904,TK,RHM,University Hospital Southampton NHS Foundation...,VJT129,6.0,1,1,8.0,48.0,17.91,143.21,AA137094,National,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450095,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,9,39,904,TK,RHM,University Hospital Southampton NHS Foundation...,ABA093,6.0,1,1,1.0,6.0,6.72,6.72,AA137294,National,NaN
11450432,CT01 - Ward Based Consumables,2023,9,40,904,TK,RHM,University Hospital Southampton NHS Foundation...,FTR095,100.0,1,1,3.0,300.0,1.54,4.61,AA135624,National,NaN
11450490,CT01 - Ward Based Consumables,2023,9,40,904,TK,RHM,University Hospital Southampton NHS Foundation...,FWD018,120.0,1,2,4.0,480.0,16.57,66.30,AA135624,National,NaN
11451072,CT03 - Infection Control and Wound Care,2023,9,40,904,TK,RHM,University Hospital Southampton NHS Foundation...,ELY820,10.0,1,1,4.0,40.0,36.60,146.40,AA136204,National,NaN
11451129,CT01 - Ward Based Consumables,2023,9,40,904,TK,RHM,University Hospital Southampton NHS Foundation...,FDD5591,10.0,1,1,1.0,10.0,358.80,358.80,AA134238,National,NaN

In [13]:
one_pgid=one_cust.loc[(one_cust['PG_ID']==1613)]
one_pgid

Empty DataFrame
Columns: [TOWER_NAME, NHS_YEAR, NHS_PERIOD_NO, NHS_WEEK_NO, WAREHOUSE_CODE, DISTRICT_CODE, DOH_CODE, TRUST_NAME, NPC, UOI_UNITS, PG_ID, PRICE_BAND, SumOfSUPPLIED_QUANTITY, SumOfSUPPLIED_INDIVIDUAL_UNITS, SALE_PRICE, SumOfSALES, Contract_ID, PG_NAME, Category]
Index: []

In [5]:
pgids_stage_2 = ['HCTED','MBMS','Linked Deal','Bespoke deal','Band','NPM','HDS','NCP']
pgids_stage_1 = libra_data[~libra_data['Category'].isin(pgids_stage_2)]
print(np.shape(pgids_stage_1))

(9919138, 19)

In [7]:
pgids_stage_1['SumOfSALES'].sum()

1468004325.3800008

### ****Deep dive on or a few NPCs

In [88]:
npc_list=['AFP178','AEB217','AFP176']
several_NPCs=libra_df[libra_df['NPC'].isin(npc_list)]
several_NPCs

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
3852,CT10 - Food,2023,10,42,904,WA,RHW,Royal Berkshire NHS Foundation Trust,AEB217,1.0,1,1,2.0,2.0,1.22,2.44,AA136402
16255,CT10 - Food,2023,10,43,901,B5,RRJ,The Royal Orthopaedic Hospital NHS Foundation ...,AEB217,1.0,1,1,14.0,14.0,1.22,17.08,AA136402
22458,CT10 - Food,2023,10,43,901,T5,RRK,University Hospitals Birmingham NHS Foundation...,AEB217,1.0,1,1,50.0,50.0,1.22,61.00,AA136402
23468,CT10 - Food,2023,10,43,903,TM,RWJ,Stockport NHS Foundation Trust,AEB217,1.0,1,1,2.0,2.0,1.22,2.44,AA136402
40510,CT10 - Food,2023,10,42,904,EN,R1C,Solent NHS Trust,AEB217,1.0,1,1,1.0,1.0,1.22,1.22,AA136402
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11246723,CT10 - Food,2023,8,34,920,5I,NHSSP,NHS Service Providers,AEB217,1.0,1,1,20.0,20.0,17.07,341.40,AA136402
11285505,CT10 - Food,2023,9,39,905,CD,RXP,County Durham and Darlington NHS Foundation Trust,AEB217,1.0,1,1,32.0,32.0,1.22,39.04,AA136402
11286705,CT10 - Food,2023,9,40,903,75,RRF,Wrightington Wigan and Leigh Teaching Hospital...,AEB217,1.0,1,1,7.0,7.0,1.22,8.54,AA136402
11299661,CT10 - Food,2023,8,33,903,29,RM3,Northern Care Alliance NHS Group,AEB217,1.0,1,1,3.0,3.0,17.07,51.21,AA136402
11420320,CT10 - Food,2023,9,38,905,HV,RT2,Pennine Care NHS Foundation Trust,AEB217,1.0,1,1,7.0,7.0,1.22,8.54,AA136402

### *** Deep-dive EMB

In [61]:
df=libra_df
EMB_libra = df[df['DISTRICT_CODE'].isin(['F7','UR','SD'])]
EMB_libra = EMB_libra[EMB_libra['DOH_CODE'].isin(['NR3','NLX'])]
EMB_libra

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
130,CT03 - Infection Control and Wound Care,2023,10,41,904,UR,NLX,Sirona Care and Health CIC,ELW045,20.0,1,1,1.0,20.0,13.14,13.14,AA136646
135,CT03 - Infection Control and Wound Care,2023,10,41,904,UR,NLX,Sirona Care and Health CIC,ELW051,20.0,1,1,1.0,20.0,4.49,4.49,AA136646
169,CT03 - Infection Control and Wound Care,2023,10,41,904,UR,NLX,Sirona Care and Health CIC,EME024,10.0,1,1,2.0,20.0,10.68,21.36,AA136698
660,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,10,41,901,F7,NR3,Nottingham City Care Partnership CIC,FST5519,12.0,1,1,5.0,60.0,49.90,249.48,AA137556
687,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,10,41,901,F7,NR3,Nottingham City Care Partnership CIC,FST500,10.0,1,1,3.0,30.0,7.44,22.32,AA131954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11450777,CT01 - Ward Based Consumables,2023,9,40,901,F7,NR3,Nottingham City Care Partnership CIC,FSL1683,1.0,1,1,6.0,6.0,6.12,36.72,AA134748
11450816,CT03 - Infection Control and Wound Care,2023,9,40,901,F7,NR3,Nottingham City Care Partnership CIC,ELZ746,10.0,1,1,5.0,50.0,34.80,174.00,AA136200
11450841,CT09 - Office Consumables,2023,9,40,901,F7,NR3,Nottingham City Care Partnership CIC,WGP7282,12.0,1,1,0.0,0.0,0.00,0.00,AA137056
11450900,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,9,40,901,F7,NR3,Nottingham City Care Partnership CIC,EPA031,6.0,1,2,96.0,576.0,1.68,161.57,AA137530
11451111,CT01 - Ward Based Consumables,2023,9,40,904,UR,NLX,Sirona Care and Health CIC,FFE1668,1.0,1,1,0.0,0.0,0.00,0.00,AA132418

## Read Prices Data

In [62]:
EMB_trans_with_national=pd.read_excel('EMB_sales_prices_20230208.xlsx')

In [63]:
EMB_trans_with_national

,WHSE_CODE,DIST_CODE,FIN_YEAR,FIN_PERIOD,FIN_WEEK,TRAN_DATE,REQUISITION_CODE,REQ_POINT_CODE,NPC,SUP_CODE,...,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID_y,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,901,F7,2023,4,18,2022-07-26,79274W,F71229,FGR166,14966600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,901,F7,2023,4,18,2022-07-26,79334W,F70210,HHH1987,05826400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,901,F7,2023,4,18,2022-07-26,79352W,F71037,HHH673,14835400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,901,F7,2023,4,18,2022-07-29,79406W,F701FA,HHH1987,05826400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,901,F7,2023,4,18,2022-07-29,79425W,F701F0,WYB2713,15109900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73100,904,UR,2023,9,36,2022-11-28,38940X,URT156,EFA011,15072800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73101,904,UR,2023,9,36,2022-11-29,38941X,URT160,EFA011,15072800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73102,904,UR,2023,9,36,2022-11-29,38942X,URT165,EFA011,15072800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73103,904,UR,2023,9,36,2022-11-30,38949X,URT169,EFA011,15072800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73104,904,UR,2023,9,36,2022-11-30,38950X,UR648S,EFA011,15072800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
EMB_trans_with_national.columns

Index(['WHSE_CODE', 'DIST_CODE', 'FIN_YEAR', 'FIN_PERIOD', 'FIN_WEEK',
       'TRAN_DATE', 'REQUISITION_CODE', 'REQ_POINT_CODE', 'NPC', 'SUP_CODE',
       'TRANS_CODE', 'REQ_CODE', 'REQ_QTY', 'SUP_QTY', 'PRICE_BAND',
       'COST_PRICE', 'SALE_PRICE', 'TOT_COST', 'TOT_SALES', 'TOT_MARGIN',
       'VAT_VALUE', 'CONTRACT_ID_x', 'Neg_Margin', '%Margin', 'ITEM_CLASS',
       'PG_ID', 'PG_NAME', 'CHANNEL', 'PERCENTAGE_RATE', 'B1_SELL_PRICE',
       'B1_EXVAT', 'EFFECTIVE_DATE', 'B1_National_BUY_PRICE',
       'CP_EFFECTIVE_DATE', 'CONTRACT_ID_y', 'CL_DISTR_NO', 'CL_ORD_PRC_BND_1',
       'CL_CONTR_CODE', 'DIST_CODE_x', 'Category', 'CENTRALLY_FUNDED'],
      dtype='object')

In [65]:
EMB_trans_with_national=EMB_trans_with_national.drop(['ITEM_CLASS',
       'PG_ID', 'PG_NAME', 'CHANNEL', 'PERCENTAGE_RATE', 'B1_SELL_PRICE',
       'B1_EXVAT', 'EFFECTIVE_DATE', 'B1_National_BUY_PRICE',
       'CP_EFFECTIVE_DATE', 'CONTRACT_ID_y', 'CL_DISTR_NO', 'CL_ORD_PRC_BND_1',
       'CL_CONTR_CODE', 'DIST_CODE_x', 'Category', 'CENTRALLY_FUNDED'], axis=1)

## Merge EMB transactions and national prices with libra to get PGID

In [74]:
EMB_trans_libra= pd.merge(EMB_trans_with_national, EMB_libra,  how='left', left_on=['NPC','DIST_CODE','FIN_WEEK','SUP_QTY'], right_on = ['NPC','DISTRICT_CODE','NHS_WEEK_NO','SumOfSUPPLIED_QUANTITY'])
print(np.shape(EMB_trans_libra))

(73196, 40)

In [75]:
EMB_trans_libra_df=EMB_trans_libra.loc[EMB_trans_libra['PG_ID'].notnull()]
print(np.shape(EMB_trans_libra_df))

(21232, 40)

In [76]:
EMB_trans_libra_df= EMB_trans_libra_df.astype({'PG_ID':'int'})

In [77]:
EMB_trans_libra_df

,WHSE_CODE,DIST_CODE,FIN_YEAR,FIN_PERIOD,FIN_WEEK,TRAN_DATE,REQUISITION_CODE,REQ_POINT_CODE,NPC,SUP_CODE,...,DOH_CODE,TRUST_NAME,UOI_UNITS,PG_ID,PRICE_BAND_y,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE_y,SumOfSALES,Contract_ID
2,901,F7,2023,4,18,2022-07-26,79352W,F71037,HHH673,14835400,...,NR3,Nottingham City Care Partnership CIC,50.0,1,1.0,2.0,100.0,12.06,24.12,AA133584
4,901,F7,2023,4,18,2022-07-29,79425W,F701F0,WYB2713,15109900,...,NR3,Nottingham City Care Partnership CIC,1.0,1,1.0,1.0,1.0,1.93,1.93,AA137050
6,901,F7,2023,4,18,2022-07-29,79435W,F71166,FST5519,00031310,...,NR3,Nottingham City Care Partnership CIC,12.0,1,1.0,1.0,12.0,49.90,49.90,AA137556
7,901,F7,2023,4,18,2022-07-29,79435W,F71166,FST5519,00031310,...,NR3,Nottingham City Care Partnership CIC,12.0,1,1.0,1.0,12.0,51.56,51.56,AA137556
10,901,F7,2023,4,18,2022-07-26,20149C,F71229,FST5519,00031310,...,NR3,Nottingham City Care Partnership CIC,12.0,1,1.0,1.0,12.0,49.90,49.90,AA137556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73163,904,UR,2023,9,36,2022-11-28,24149W,URX051,ACD599,01848500,...,NLX,Sirona Care and Health CIC,1.0,1,1.0,1.0,1.0,11.76,11.76,AA135474
73164,904,UR,2023,9,36,2022-11-29,24046W,URX047,ACD599,01848500,...,NLX,Sirona Care and Health CIC,1.0,1,1.0,1.0,1.0,11.76,11.76,AA135474
73165,904,UR,2023,9,36,2022-11-29,24154W,URZ029,ACD599,01848500,...,NLX,Sirona Care and Health CIC,1.0,1,1.0,1.0,1.0,11.76,11.76,AA135474
73190,904,UR,2023,9,36,2022-11-29,24035W,URT042,EHA043,14965500,...,NLX,Sirona Care and Health CIC,24.0,1,1.0,5.0,120.0,4.61,23.04,AA136576
73193,904,UR,2023,9,36,2022-11-29,38942X,URT165,EFA011,15072800,...,NLX,Sirona Care and Health CIC,1.0,1,2.0,12.0,12.0,4.11,49.27,AA136590

## Read PGID Map

In [78]:
pgid_name_class= pd.read_excel("PGID_name_classific.xlsx")
pgid_name_class

      PG_ID                                  PG_NAME Category
0      5781        Genmed Ltd NCF Core Catalogue-ROH     Core
1      5836            ICF - Ramsay Healthcare - NCF     Core
2      5568                  ICF NCF Band 1   0-24.9     Core
3      5569                 ICF NCF Band 2   25-49.9     Core
4      5570                 ICF NCF Band 3   50-74.9     Core
...     ...                                      ...      ...
5845   6981  Ct02 Cf Npm Mis United Lincs J&j 1 Year      NPM
5846   6982   Ct01 Cf Npm Med Matters Sensors Tier 1      NPM
5847   6983   Ct01 Cf Npm Med Matters Sensors Tier 2      NPM
5848   6984   Ct01 Cf Npm Med Matters Sensors Tier 3      NPM
5849      1                                 National      NaN

[5850 rows x 3 columns]

In [79]:
EMB_trans_libra_pgid= pd.merge(EMB_trans_libra_df, pgid_name_class,  how='left', on=['PG_ID'])
EMB_trans_libra_pgid

,WHSE_CODE,DIST_CODE,FIN_YEAR,FIN_PERIOD,FIN_WEEK,TRAN_DATE,REQUISITION_CODE,REQ_POINT_CODE,NPC,SUP_CODE,...,UOI_UNITS,PG_ID,PRICE_BAND_y,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE_y,SumOfSALES,Contract_ID,PG_NAME,Category
0,901,F7,2023,4,18,2022-07-26,79352W,F71037,HHH673,14835400,...,50.0,1,1.0,2.0,100.0,12.06,24.12,AA133584,National,NaN
1,901,F7,2023,4,18,2022-07-29,79425W,F701F0,WYB2713,15109900,...,1.0,1,1.0,1.0,1.0,1.93,1.93,AA137050,National,NaN
2,901,F7,2023,4,18,2022-07-29,79435W,F71166,FST5519,00031310,...,12.0,1,1.0,1.0,12.0,49.90,49.90,AA137556,National,NaN
3,901,F7,2023,4,18,2022-07-29,79435W,F71166,FST5519,00031310,...,12.0,1,1.0,1.0,12.0,51.56,51.56,AA137556,National,NaN
4,901,F7,2023,4,18,2022-07-26,20149C,F71229,FST5519,00031310,...,12.0,1,1.0,1.0,12.0,49.90,49.90,AA137556,National,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21227,904,UR,2023,9,36,2022-11-28,24149W,URX051,ACD599,01848500,...,1.0,1,1.0,1.0,1.0,11.76,11.76,AA135474,National,NaN
21228,904,UR,2023,9,36,2022-11-29,24046W,URX047,ACD599,01848500,...,1.0,1,1.0,1.0,1.0,11.76,11.76,AA135474,National,NaN
21229,904,UR,2023,9,36,2022-11-29,24154W,URZ029,ACD599,01848500,...,1.0,1,1.0,1.0,1.0,11.76,11.76,AA135474,National,NaN
21230,904,UR,2023,9,36,2022-11-29,24035W,URT042,EHA043,14965500,...,24.0,1,1.0,5.0,120.0,4.61,23.04,AA136576,National,NaN
21231,904,UR,2023,9,36,2022-11-29,38942X,URT165,EFA011,15072800,...,1.0,1,2.0,12.0,12.0,4.11,49.27,AA136590,National,NaN

In [82]:
EMB_trans_libra_pgid_P7.columns

Index(['WHSE_CODE', 'DIST_CODE', 'FIN_YEAR', 'FIN_PERIOD', 'FIN_WEEK',
       'TRAN_DATE', 'REQUISITION_CODE', 'REQ_POINT_CODE', 'NPC', 'SUP_CODE',
       'TRANS_CODE', 'REQ_CODE', 'REQ_QTY', 'SUP_QTY', 'PRICE_BAND_x',
       'COST_PRICE', 'SALE_PRICE_x', 'TOT_COST', 'TOT_SALES', 'TOT_MARGIN',
       'VAT_VALUE', 'CONTRACT_ID_x', 'Neg_Margin', '%Margin', 'TOWER_NAME',
       'NHS_YEAR', 'NHS_PERIOD_NO', 'NHS_WEEK_NO', 'WAREHOUSE_CODE',
       'DISTRICT_CODE', 'DOH_CODE', 'TRUST_NAME', 'UOI_UNITS', 'PG_ID',
       'PRICE_BAND_y', 'SumOfSUPPLIED_QUANTITY',
       'SumOfSUPPLIED_INDIVIDUAL_UNITS', 'SALE_PRICE_y', 'SumOfSALES',
       'Contract_ID', 'PG_NAME', 'Category'],
      dtype='object')

In [84]:
EMB_trans_libra_pgid_P7=EMB_trans_libra_pgid.loc[EMB_trans_libra_pgid['FIN_PERIOD']==7]
EMB_trans_libra_pgid_P7=EMB_trans_libra_pgid_P7.sort_values(by=['TOT_MARGIN'],ascending=True)
EMB_trans_libra_pgid_P7.to_excel('EMB_trans_libra_P7_2'+'_'+curr_date+'.xlsx', index = False)

### End of Investigation *****

## Create list of transacted PGIDs YTD

In [11]:
pgids = set(list(libra_df['PG_ID'].to_list()))
pgids_df  = pd.DataFrame(pgids)
pgids_df.to_excel('transacted_pgids'+'_'+curr_date+'.xlsx', index = False)

## Aggregate by Period and Week

In [15]:
period =libra_df.groupby('NHS_PERIOD_NO').size().sort_values(ascending=False) \
  .reset_index(name='SumOfSALES')
period

   NHS_PERIOD_NO  SumOfSALES
0              3     1341381
1              6     1339434
2              9     1288925
3              1     1147432
4              2     1114693
5              4     1111433
6              7     1109602
7              5     1109329
8              8     1108855
9             10      780192

In [9]:
week =libra_df.groupby('NHS_WEEK_NO').size() \
  .reset_index(name='SumOfSALES')
week

    NHS_WEEK_NO  SumOfSALES
0             1       86674
1             2      274504
2             3      257604
3             4      240186
4             5      288464
5             6      243625
6             7      292610
7             8      285460
8             9      292998
9            10      217814
10           11      281905
11           12      285937
12           13      277889
13           14      277836
14           15      282944
15           16      277970
16           17      274291
17           18      276228
18           19      277922
19           20      276092
20           21      273800
21           22      281515
22           23      240584
23           24      283498
24           25      280369
25           26      247998
26           27      286985
27           28      279159
28           29      282621
29           30      270520
30           31      277302
31           32      269718
32           33      277749
33           34      281688
34           35      279700
35           36      278381
36           37      284759
37           38      282707
38           39      294499
39           40      148579
40           41      219066
41           42      283265
42           43      277861

# Part 2 - Create Summary Files

## Group by PGID and NPC Sales

In [25]:
libra2023_YTD=libra_df.groupby(['NPC','PG_ID']).agg({'SumOfSUPPLIED_INDIVIDUAL_UNITS':'sum','SumOfSALES':'sum'}).reset_index()
libra2023_YTD=libra2023_YTD.rename(columns={"SumOfSUPPLIED_INDIVIDUAL_UNITS":"YTD_SUPPLIED_UNITS","SumOfSALES":"YTD_SALES"})
libra2023_YTD

           NPC  PG_ID  YTD_SUPPLIED_UNITS  YTD_SALES
0       AAA003      1                 2.0     680.40
1       AAB034      1                 0.0       0.00
2       AAG000      1            224000.0    8398.85
3       AAG000   4378              7000.0     300.18
4       AAN185      1            416300.0   29929.40
...        ...    ...                 ...        ...
339431  ZZA284   2798                 1.0    9900.00
339432  ZZA911   3193                18.0       0.00
339433  ZZA916   3193                 7.0       0.00
339434  ZZA953   3193                 7.0       0.00
339435  ZZA954   3193                 4.0       0.00

[339436 rows x 4 columns]

In [27]:
libra2023_YTD_Sales=libra2023_YTD.loc[libra2023_YTD['YTD_SUPPLIED_UNITS']!=0]
libra2023_YTD_Sales.to_csv('libra2023_YTD_Sales.csv', index = False)
print(np.shape(libra2023_YTD_Sales))

(330489, 4)

## Four weeks Sales

In [19]:
four_Weeks=libra_df.loc[libra_df['NHS_WEEK_NO']>=40]

In [29]:
libra2023_four_Weeks=four_Weeks.groupby(['NPC','PG_ID']).agg({'SumOfSUPPLIED_INDIVIDUAL_UNITS':'sum','SumOfSALES':'sum'}).reset_index()
libra2023_four_Weeks=libra2023_four_Weeks.rename(columns={"SumOfSUPPLIED_INDIVIDUAL_UNITS":"4WKS_SUPPLIED_UNITS","SumOfSALES":"4WKS_SALES"})
libra2023_four_Weeks

           NPC  PG_ID  4WKS_SUPPLIED_UNITS  4WKS_SALES
0       AAG000      1              13000.0      621.39
1       AAG000   4378               2000.0      104.39
2       AAN185      1              31700.0     2563.97
3       AAN185   4370                400.0       35.95
4       AAN185   4378                300.0       26.96
...        ...    ...                  ...         ...
117544  ZZA154      1                  1.0       14.40
117545  ZZA155      1                  1.0       33.00
117546  ZZA221      1                  1.0       54.00
117547  ZZA256      1                  1.0       42.00
117548  ZZA953   3193                  3.0        0.00

[117549 rows x 4 columns]

In [30]:
libra2023_four_Weeks_sales=libra2023_four_Weeks.loc[libra2023_four_Weeks['4WKS_SUPPLIED_UNITS']!=0]
libra2023_four_Weeks_sales.to_csv('libra2023_four_Weeks_Sales.csv', index = False)
print(np.shape(libra2023_four_Weeks_sales))

(112507, 4)

## Four weeks National

In [5]:
week_4=libra_df.loc[libra_df['NHS_WEEK_NO']>=38]
week_4_national=week_4.loc[week_4['PG_ID']==1]
week_4_national

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES
21400,CT10 - Food,2023.0,9.0,38.0,903.0,MC,R0A,Manchester University NHS Foundation Trust,AAR306,24.0,1.0,1.0,2.0,48.0,9.11,18.22
21401,CT10 - Food,2023.0,9.0,38.0,905.0,RF,RXF,Mid Yorkshire Hospitals NHS Trust,AAR325,12.0,1.0,1.0,1.0,12.0,9.60,9.60
21402,"CT05 - Rehabilitation, Disabled Services, Wome...",2023.0,9.0,38.0,920.0,QG,RAS,The Hillingdon Hospitals NHS Foundation Trust,ABT740,24.0,1.0,1.0,26.0,624.0,6.29,163.54
21403,CT10 - Food,2023.0,9.0,38.0,907.0,XQ,FMM39,Kings Interventional Facilities Man LLP,ACD057,25.0,1.0,1.0,4.0,100.0,2.63,10.52
21404,CT10 - Food,2023.0,9.0,38.0,907.0,84,RWF,Maidstone and Tunbridge Wells NHS Trust,ACT120,1.0,1.0,1.0,1.0,1.0,0.80,0.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3726442,CT09 - Office Consumables,2023.0,10.0,41.0,903.0,B0,8HG84,Virgin Care,WHF85050,1.0,1.0,1.0,7.0,7.0,1.68,11.76
3726443,CT09 - Office Consumables,2023.0,10.0,41.0,901.0,M4,RL1,The Robert Jones and Agnes Hunt Orthopaedic Ho...,WHF85050,1.0,1.0,1.0,1.0,1.0,1.68,1.68
3726444,CT09 - Office Consumables,2023.0,10.0,41.0,901.0,26,RX1,Nottingham University Hospitals NHS Trust,WHF85053,1.0,1.0,1.0,2.0,2.0,0.92,1.85
3726445,CT11 - NHS Hotel Services,2023.0,10.0,41.0,907.0,07,RJ6,Croydon Health Services NHS Trust,MRT85003,1.0,1.0,1.0,366.0,366.0,2.89,1058.47
3726446,CT11 - NHS Hotel Services,2023.0,10.0,41.0,904.0,YU,AXG,Wiltshire Health and Care,MRT85003,1.0,1.0,1.0,11.0,11.0,2.89,31.81

In [10]:
week4_sumsales=week_4_national.groupby('NPC')[['SumOfSUPPLIED_QUANTITY','SumOfSALES']].sum()
week4_sumsales

        SumOfSUPPLIED_QUANTITY  SumOfSALES
NPC
AAG000                    15.0      569.87
AAN185                   347.0     2806.64
AAN202                 40371.0    28097.74
AAN206                 26380.0    14560.92
AAN219                   697.0     3236.68
...                        ...         ...
ZZA221                     9.0      486.00
ZZA222                     1.0       36.00
ZZA250                     4.0      360.00
ZZA256                     2.0       84.00
ZZA281                     3.0        0.00

[50259 rows x 2 columns]

In [12]:
week4_sumsales.to_excel('week_4_national_sales.xlsx', index = True)

In [ ]:
week =libra_df.groupby('NHS_WEEK_NO').size().sort_values(ascending=False) \
  .reset_index(name='SumOfSALES')
week

# Part 3 Data Profiling

In [32]:
print(np.shape(libra_df))
libra_df.head(3)

(11451276, 17)

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
0,CT10 - Food,2023,10,41,920,X7,R1A,Herefordshire and Worcestershire Health and Ca...,AAQ024,24.0,1,1,5.0,120.0,9.11,45.55,AA134298
1,CT10 - Food,2023,10,41,905,WT,FMM46,York Teaching Hospital Facilities Management LLP,AAQ024,24.0,1,1,2.0,48.0,9.11,18.22,AA134298
2,"CT05 - Rehabilitation, Disabled Services, Wome...",2023,10,41,907,21,RYR,University Hospitals Sussex NHS Foundation Trust,ABT740,24.0,1,1,25.0,600.0,6.29,157.25,AA136704

In [9]:
## Remove duplicates of PGID, NPC and NHS_Period)
df2 = libra_df.drop_duplicates(subset=["NHS_PERIOD_NO", "PG_ID","NPC"])
print(np.shape(df2))

(1294737, 17)

In [10]:
## Remove duplicates of PGID, NPC)
df3 = libra_df.drop_duplicates(subset=[ "PG_ID","NPC"])
print(np.shape(df3))

(339436, 17)

In [11]:
## Remove duplicates NPC)
df4 = libra_df.drop_duplicates(subset=["NPC"])
print(np.shape(df4))

(151993, 17)

In [13]:
output = libra_df.groupby('NHS_PERIOD_NO')['PG_ID'].apply(list).tolist()#.reset_index
output

[[1,
  1,
  4713,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  4974,
  4975,
  1,
  4369,
  1,
  1,
  1,
  4573,
  1,
  1,
  4573,
  1,
  3061,
  4974,
  4974,
  1,
  1,
  4379,
  6015,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5845,
  1,
  5845,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4582,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5771,
  1,
  1,
  1,
  1,
  1,
  1,
  258,
  3890,
  1,
  5135,
  1,
  1,
  939,
  3889,
  3890,
  312,
  1413,
  1,
  2489,
  4372,
  1,
  4790,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4372,
  4788,
  4787,
  4787,
  4791,
  1,
  2104,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5525,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3994,
  1,
  1,
  1,
  1,
  5337,
  3994,
  5337,
  1,
  1,
  5270,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3096,
  1,
  1,
  2937,
  6018,
  4379,
  1,
  1,
  1,
  4370,
  1,
  2936,
  2937,
  1,
  2937,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4169,
  1,
  4378,
  1,
  1,
  1,
  5743,
  5745,
  1,
  5738,
  5739,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4688,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5743,
  5745,
  1,
  1,
  1,
  4791,
  1,
  1,
  5104,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5494,
  1,
  1,
  1,
  1,
  4379,
  4974,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  279,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4374,
  1,
  1,
  1,
  1,
  1,
  1,
  2104,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2965,
  1,
  1,
  1,
  3253,
  1,
  4139,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5618,
  1,
  1,
  1,
  4140,
  4986,
  860,
  1,
  1,
  1,
  1,
  1,
  4720,
  1,
  1,
  1,
  1604,
  1,
  1,
  1,
  1568,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  319,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  6148,
  1,
  1,
  1,
  1876,
  1,
  1,
  1,
  1,
  1,
  5419,
  1,
  5419,
  5418,
  1,
  1,
  1,
  1,
  4761,
  3225,
  1,
  4582,
  1,
  1,
  4378,
  4378,
  1,
  1,
  1,
  1,
  1,
  2967,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  874,
  2797,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1413,
  1695,
  3206,
  4369,
  1,
  1,
  5418,
  1269,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  5661,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2823,
  1,
  1,
  1,
  1,
  2937,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1269,
  1,
  1,
  4433,
  1,
  1,
  2787,
  5419,
  1,
  3995,
  1,
  1,
  3229,
  3547,
  4386,
  3547,
  3547,
  1,
  1,
  2780,
  1,
  1,
  4370,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4350,
  259,
  2506,
  2277,
  1,
  3229,
  3229,
  3225,
  3229,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4791,
  4371,
  2489,
  1,
  1,
  4973,
  1,
  5836,
  2935,
  1,
  4139,
  1,
  1,
  1,
  1,
  1053,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4140,
  1,
  1,
  1,
  4139,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4760,
  1,
  1,
  102,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2780,
  1,
  1,
  2901,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4370,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  4370,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4370,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  4573,
  4573,
  1,
  1,
  1,
  4573,
  4573,
  1,
  1,
  4569,
  1,
  1,
  4571,
  1,
  4975,
  4974,
  4974,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4573,
  1,
  4573,
  4573,
  4974,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6016,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6015,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6015,
  1,
  1,
  5815,
  4583,
  1,
  4585,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6015,
  1,
  1,
  1,
  1,
  4378,
  1,
  6014,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4370,
  4583,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4571,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6015,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  712,
  1,
  1,
  1,
  507,
  1,
  1737,
  1,
  1,
  2774,
  1,
  1,
  1,
  1,
  5106,
  5106,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  ...],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3225,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  4571,
  1,
  1,
  1,
  1,
  1,
  4573,
  4573,
  1,
  4573,
  4573,
  4573,
  1,
  6015,
  1,
  4974,
  4974,
  4920,
  6014,
  1,
  1,
  1,
  4571,
  4369,
  1,
  1,
  4573,
  1,
  4573,
  4573,
  4573,
  4569,
  4974,
  4974,
  1,
  1,
  4378,
  1,
  1,
  1,
  6014,
  1,
  1,
  4369,
  5570,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6015,
  5494,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5815,
  1,
  1,
  1,
  1,
  0,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4573,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  87,
  1,
  1,
  1,
  1,
  1,
  1,
  4370,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  190,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4344,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6196,
  1,
  1,
  4398,
  4398,
  4398,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3985,
  1,
  1,
  1,
  1,
  1,
  2093,
  1525,
  330,
  5126,
  2870,
  404,
  3221,
  3889,
  1350,
  1652,
  429,
  2870,
  1,
  1,
  1,
  4791,
  3889,
  2394,
  1937,
  421,
  2549,
  2507,
  1322,
  2506,
  2093,
  1097,
  793,
  2774,
  2774,
  1,
  1,
  1,
  3198,
  4788,
  4791,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  190,
  1,
  1,
  1,
  1,
  5885,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4762,
  1,
  1,
  1,
  1,
  1,
  4378,
  4790,
  1,
  4791,
  4791,
  4787,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4051,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  4370,
  5171,
  1,
  1,
  1,
  1,
  1,
  1,
  3993,
  5332,
  190,
  1,
  1,
  1,
  1,
  1882,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5332,
  1255,
  4378,
  1,
  5337,
  1,
  1,
  1,
  5338,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1255,
  1,
  1,
  2104,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2935,
  1,
  2935,
  2938,
  1,
  2938,
  2935,
  3366,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3366,
  3366,
  1,
  3096,
  3096,
  3366,
  2936,
  2938,
  3366,
  1,
  2938,
  2936,
  2937,
  2935,
  1,
  2935,
  3366,
  2939,
  2939,
  2937,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3366,
  2935,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  5237,
  1,
  1,
  1,
  1,
  3547,
  4371,
  3547,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5739,
  1,
  1,
  1,
  1,
  1,
  5737,
  1,
  1,
  5739,
  5739,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4372,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  5738,
  1,
  4379,
  5737,
  5737,
  5738,
  1,
  1,
  4379,
  1,
  1,
  1,
  1,
  4788,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1173,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1415,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4370,
  1,
  1,
  1,
  2494,
  1,
  1,
  2144,
  4372,
  1,
  1,
  6016,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5092,
  5738,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4956,
  1,
  1,
  1,
  1,
  1,
  1,
  5815,
  1,
  1,
  5618,
  1,
  1,
  1,
  3803,
  1269,
  1,
  1,
  1,
  1,
  1,
  2394,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4375,
  1,
  1,
  1,
  1,
  4378,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  4375,
  1,
  1,
  4140,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2494,
  1,
  1,
  1,
  4378,
  1,
  1,
  1,
  4979,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1413,
  1,
  1,
  1,
  6015,
  6015,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2104,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1269,
  1,
  1,
  1,
  2852,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  ...],
 [1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4411,
  1,
  1,
  1,
  1,
  1,
  1,
  5418,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4788,
  1,
  1,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1,
  5333,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5746,
  1,
  1,
  2936,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4296,
  1,
  4544,
  1,
  1,
  1,
  1,
  5270,
  1,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3076,
  1,
  1,
  1,
  1,
  3366,
  1,
  1,
  1,
  4741,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4850,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  783,
  1,
  1,
  1,
  1,
  1,
  1,
  5270,
  1,
  1,
  1,
  1,
  1,
  1,
  3366,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6015,
  5332,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1413,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1703,
  1703,
  1,
  1,
  1,
  1,
  4410,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1350,
  1,
  1,
  1,
  1,
  1,
  4791,
  3960,
  1,
  4582,
  1,
  1,
  1,
  1,
  1,
  1,
  5135,
  5135,
  1,
  1,
  2796,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4713,
  1,
  1,
  1,
  1,
  4571,
  1,
  1,
  1,
  1,
  1,
  1,
  5743,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  312,
  1,
  1,
  4370,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4974,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3225,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  255,
  1,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5744,
  1,
  1,
  1,
  1,
  1,
  4949,
  1,
  2394,
  2394,
  2394,
  2787,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4433,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4787,
  1,
  1,
  3994,
  1,
  1,
  3994,
  1,
  2501,
  1,
  1,
  1,
  5393,
  1,
  1,
  4663,
  1,
  2789,
  1,
  2501,
  1,
  1,
  1,
  1,
  1098,
  1,
  1,
  4960,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  713,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5885,
  1,
  4979,
  1,
  1,
  1,
  1,
  1480,
  1,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1,
  1,
  1,
  5417,
  1,
  1,
  1,
  1,
  1,
  1652,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4379,
  1,
  1,
  1,
  2507,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5337,
  1,
  1,
  4585,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2935,
  1,
  4484,
  5815,
  5739,
  4378,
  1,
  4378,
  0,
  4378,
  4378,
  4378,
  5570,
  1,
  4790,
  1,
  2104,
  1,
  1,
  1,
  1,
  1,
  5419,
  1,
  1,
  1,
  1,
  1,
  5815,
  1,
  1,
  1,
  2104,
  1798,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5494,
  1,
  4791,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5406,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4473,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3096,
  1,
  1,
  1,
  1,
  1,
  5340,
  5128,
  1,
  1,
  1,
  1,
  1,
  4328,
  1,
  1,
  689,
  2936,
  1,
  1,
  1,
  1,
  1,
  1,
  2489,
  2489,
  2489,
  592,
  1,
  1,
  1,
  1,
  6014,
  6014,
  1,
  1,
  1,
  1,
  1,
  1,
  4585,
  1,
  4379,
  4379,
  1,
  1,
  1,
  1,
  5237,
  3085,
  3085,
  3085,
  1,
  1,
  1,
  1,
  2937,
  1,
  3221,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1327,
  1327,
  1,
  970,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3221,
  1,
  1,
  4936,
  1,
  1,
  1,
  2287,
  4571,
  1,
  4328,
  4328,
  4328,
  1,
  1,
  3229,
  1,
  1,
  1,
  1,
  1,
  4369,
  759,
  3229,
  1,
  1,
  5752,
  1,
  6015,
  1,
  2937,
  4379,
  4370,
  4370,
  6015,
  1,
  1,
  1,
  1,
  4370,
  4370,
  2190,
  3890,
  1,
  4960,
  1,
  1,
  1,
  1,
  1876,
  1,
  1,
  1,
  1918,
  1,
  4378,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5738,
  1,
  1,
  2321,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  312,
  4139,
  1,
  4534,
  4370,
  1,
  5000,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4370,
  1,
  1,
  1,
  1,
  458,
  1,
  1,
  1,
  1,
  1,
  1,
  2936,
  1,
  1,
  1,
  1,
  1,
  2936,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2935,
  1,
  1,
  1,
  1,
  1269,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3354,
  1,
  1,
  3366,
  5270,
  3096,
  1,
  1,
  1,
  1,
  1,
  1173,
  5530,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1,
  2506,
  4140,
  3229,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4573,
  1,
  1,
  1,
  1,
  1,
  4139,
  1,
  1,
  1,
  1,
  1,
  2093,
  2093,
  5337,
  4369,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5435,
  1,
  1,
  1,
  4791,
  1,
  1,
  6002,
  1,
  4379,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  3229,
  6014,
  3922,
  2790,
  3922,
  3922,
  3922,
  3181,
  1,
  1,
  1,
  1,
  6015,
  1,
  1,
  ...],
 [1,
  1,
  1,
  1,
  4287,
  5419,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3704,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5270,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5010,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5738,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5137,
  1,
  1,
  1,
  2499,
  1,
  5661,
  1,
  1,
  1,
  1,
  1,
  4,
  1,
  5833,
  1,
  1,
  1,
  1,
  2936,
  1,
  1,
  1,
  1,
  1,
  4789,
  1,
  1,
  1,
  1,
  1,
  4991,
  1,
  1,
  1,
  1,
  1,
  5738,
  4585,
  1,
  1,
  1,
  1,
  1,
  1,
  4974,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2528,
  1,
  1,
  1,
  1,
  4762,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3366,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4974,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3062,
  4741,
  4741,
  4741,
  4741,
  1,
  1,
  1,
  5582,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4728,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  3366,
  1,
  1,
  1,
  1,
  1,
  1,
  5270,
  5270,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4791,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5419,
  1,
  1,
  1,
  1,
  1413,
  1413,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5418,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4973,
  1,
  2937,
  3960,
  1,
  1,
  1,
  1,
  5738,
  5135,
  5135,
  5135,
  5135,
  5135,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1962,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5745,
  1,
  1,
  1,
  1,
  4421,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2062,
  5540,
  1,
  6018,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5737,
  1,
  1,
  1,
  1,
  1,
  1525,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5418,
  425,
  1,
  1,
  2852,
  1,
  1,
  1,
  1,
  5343,
  1,
  1,
  1,
  1,
  1,
  1,
  4790,
  1965,
  1,
  1,
  1,
  5377,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  4378,
  1,
  1,
  255,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  759,
  1,
  1,
  1,
  1,
  1,
  1,
  5260,
  4379,
  1,
  4379,
  1,
  1,
  4299,
  1,
  1,
  1,
  1,
  1,
  1,
  4974,
  1,
  1914,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1568,
  1,
  1,
  1,
  1,
  1914,
  1,
  2797,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  2939,
  4422,
  1,
  1,
  1,
  1,
  1,
  1,
  2394,
  1,
  258,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  6148,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  5092,
  1,
  1,
  1,
  1,
  1,
  1,
  5393,
  5393,
  1,
  1,
  1,
  1,
  1,
  1,
  2501,
  1,

In [16]:
df = libra_df.groupby('NHS_PERIOD_NO').apply(lambda df: list(zip(df['PG_ID'], df['NPC'])))
df

NHS_PERIOD_NO
1     [(1, AAR158), (1, AAR158), (4713, ACM013), (1,...
2     [(1, ABT740), (1, ADC022), (1, ADC023), (1, AE...
3     [(1, WYO2558), (1, WPA145), (1, WEL253), (1, W...
4     [(1, EOC018), (1, WEL678), (1, FDC072), (1, EK...
5     [(1, VJT592), (1, WEL289), (1, UJZ1104), (1, F...
6     [(1, AAR158), (1, ABT740), (1, ADC206), (1, AE...
7     [(1, ABT740), (1, ABT740), (1, ACT120), (1, AC...
8     [(1, MFB1102), (1, WHH336), (1, FTR2746), (1, ...
9     [(1, AAQ024), (1, AAR158), (1, AAR252), (1, AA...
10    [(1, AAQ024), (1, AAQ024), (1, ABT740), (1, AB...
dtype: object

In [18]:
df = libra_df.groupby('NHS_PERIOD_NO').apply(lambda df: set(list(zip(df['PG_ID'], df['NPC']))))
df

NHS_PERIOD_NO
1     {(1, FRH859), (1864, FRD507), (1, FKV5430), (1...
2     {(1350, FJV3385), (1, FRH859), (1864, FRD507),...
3     {(2507, FJT12496), (1, FRH859), (1864, FRD507)...
4     {(1350, FJV3385), (1, FRH859), (1864, FRD507),...
5     {(1350, FJV3385), (1, FRH859), (2936, FVS227),...
6     {(1350, FJV3385), (1, FRH859), (1864, FRD507),...
7     {(312, FIC1948), (1864, FRD507), (1, FKV5430),...
8     {(312, FIC1948), (2824, FQE1071), (1350, FJK83...
9     {(1864, FRD507), (1, FKV5430), (1053, EVS1493)...
10    {(2938, FVU109), (1, FJF5678), (2936, FVS227),...
dtype: object

In [19]:
df2=df.reset_index(name='PGID_NPC')
df2

   NHS_PERIOD_NO                                           PGID_NPC
0              1  {(1, FRH859), (1864, FRD507), (1, FKV5430), (1...
1              2  {(1350, FJV3385), (1, FRH859), (1864, FRD507),...
2              3  {(2507, FJT12496), (1, FRH859), (1864, FRD507)...
3              4  {(1350, FJV3385), (1, FRH859), (1864, FRD507),...
4              5  {(1350, FJV3385), (1, FRH859), (2936, FVS227),...
5              6  {(1350, FJV3385), (1, FRH859), (1864, FRD507),...
6              7  {(312, FIC1948), (1864, FRD507), (1, FKV5430),...
7              8  {(312, FIC1948), (2824, FQE1071), (1350, FJK83...
8              9  {(1864, FRD507), (1, FKV5430), (1053, EVS1493)...
9             10  {(2938, FVU109), (1, FJF5678), (2936, FVS227),...

In [31]:
import collections
Output1 = collections.defaultdict(int)
for i in range(50):
    for elem in output:
          Output1[elem[i]] += 1
print(Output1)

defaultdict(<class 'int'>, {1: 454, 4713: 1, 4287: 1, 2104: 1, 4719: 1, 5419: 1, 2792: 3, 2328: 1, 4791: 2, 2494: 2, 4379: 4, 3704: 1, 4378: 4, 4974: 3, 4688: 1, 4975: 1, 6134: 1, 4369: 1, 5270: 1, 4573: 2, 3096: 1, 3061: 1, 4787: 1, 6018: 1, 6015: 1, 5010: 1, 3225: 1, 4370: 2, 4411: 1, 5338: 1, 6859: 1, 4571: 1, 5418: 1})

### ******Deep-dive investigation

In [5]:
#filter by one NPC
npc='FJH4204'
one_npc.to_excel(npc+'_libra_'+curr_date+'.xlsx', index = False) 
one_npc

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,NHS_WEEK_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SumOfSUPPLIED_QUANTITY,SumOfSUPPLIED_INDIVIDUAL_UNITS,SALE_PRICE,SumOfSALES,Contract_ID
295,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,903,80,RBT,Mid Cheshire Hospitals NHS Foundation Trust,FJH4204,1.0,1525,1,1.0,1.0,15.34,15.34,AA131388
12412,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,901,6U,RWD,United Lincolnshire Hospitals NHS Trust,FJH4204,1.0,3889,1,1.0,1.0,12.11,12.11,AA131388
12415,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,904,13,RVJ,North Bristol NHS Trust,FJH4204,1.0,330,1,1.0,1.0,11.47,11.47,AA131388
18526,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,41,903,65,RWW,Warrington and Halton Hospitals NHS Foundation...,FJH4204,1.0,592,1,3.0,3.0,10.81,32.44,AA131388
36330,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,10,43,903,41,RJN,East Cheshire NHS Trust,FJH4204,1.0,1695,1,1.0,1.0,11.84,11.84,AA131388
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11361303,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,9,37,903,MC,R0A,Manchester University NHS Foundation Trust,FJH4204,1.0,1,1,2.0,2.0,22.80,45.60,AA131388
11409654,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,8,34,905,4V,RJL,Northern Lincolnshire and Goole NHS Foundation...,FJH4204,1.0,759,1,2.0,2.0,10.29,20.58,AA131388
11427300,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,7,29,903,29,RM3,Northern Care Alliance NHS Group,FJH4204,1.0,2506,1,2.0,2.0,8.11,16.22,AA131388
11433339,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,8,32,907,79,RPA,Medway NHS Foundation Trust,FJH4204,1.0,2507,1,1.0,1.0,9.43,9.43,AA131388
11441572,"CT04 - Orthopaedics, Trauma & Spine and Opthal...",2023,9,36,905,RW,RM3,Northern Care Alliance NHS Group,FJH4204,1.0,1480,1,3.0,3.0,8.11,24.33,AA131388

### ***** End of Deep-dive investigation

## Check Completeness of libra data. Compare number of NPCs in Summary_trans_table

In [3]:
%%time
trans = pd.read_csv(access_exports_filepath+r"/NPCs_SUMM_SALES2023.txt", header = 0)
winsound.Beep(310,500)
winsound.Beep(240,300)  
trans

CPU times: total: 2.44 s
Wall time: 7min 44s

              NPC
0         EVS1057
1         FHE2501
2          FSC129
3         ILE2363
4          MFD723
...           ...
10345784   KFK097
10345785   KFK136
10345786   KFK137
10345787   KFK138
10345788   KFK209

[10345789 rows x 1 columns]

In [4]:
print(np.shape(trans))

(10345789, 1)

In [6]:
## check of NPC number
## Remove duplicates NPC)
df2 = trans.drop_duplicates(subset=["NPC"])
print(np.shape(df2))

(152674, 1)

## Analysis by CF/NCF

In [31]:
Trust_PGIDs=libra2023.loc[:, ['TRUST_NAME', 'PG_ID']]
print(np.shape(Trust_PGIDs))

(1363697, 2)

In [33]:
Trust_PGIDs=Trust_PGIDs.drop_duplicates()
print(np.shape(Trust_PGIDs))

(5117, 2)

In [34]:
Trust_PGIDs.head(10)

                                          TRUST_NAME  PG_ID
0  Birmingham Womens and Childrens NHS Foundation...      1
1  University Hospitals Coventry and Warwickshire...      1
2    Kettering General Hospital NHS Foundation Trust      1
3                  Pennine Care NHS Foundation Trust      1
4           Sheffield Childrens NHS Foundation Trust      1
5  Sheffield Teaching Hospitals NHS Foundation Trust      1
6   Sandwell and West Birmingham Hospitals NHS Trust      1
7               Nottingham City Care Partnership CIC      1
8          Shrewsbury and Telford Hospital NHS Trust      1
9                        Oxleas NHS Foundation Trust      1

In [36]:
framework_map=pd.read_excel('pgid_npc.xlsx')
framework_map

,PG_ID,Oracle_Name,Framework,CF_NCF
0,4,Herts Supply Management Confederation,Regional,1
1,50,Epidural Kits University College Hospital London,Misc,1
2,62,Wrightington wigan Leigh Nhs Trust,Misc,1
3,76,Royal Surrey Hospital,MBMS,1
4,77,77 Great Ormond,MBMS,1
...,...,...,...,...
1714,6789,6789 Ct05 Ontex Npm Tier 4 Cf 4 Yr Commitment,NPM,2
1715,6792,6792 Ct02 Mis2Hologic Aub Band 5 Npm,NPM,1
1716,6795,6795 T03 Ncf CoreCat Split Awc Npm 6014,Split,0
1717,6815,6815 Ct04 Ashford And St Peters Hosp NHS FT Ophth,MBMS,1
1718,6820,6820 Ct02 Wc21 L1 NpmJj Disc 385 Cf,NPM,1

In [13]:
libra2023.head(3)

,TOWER_NAME,NHS_YEAR,NHS_PERIOD_NO,WAREHOUSE_CODE,DISTRICT_CODE,DOH_CODE,TRUST_NAME,NPC,UOI_UNITS,PG_ID,PRICE_BAND,SUPPLIED_QUANTITY,SUPPLIED_INDIVIDIAL_UNITS,SALE_PRICE,SALES
0,CT01 - Ward Based Consumables,2023.0,8.0,920.0,6A,RY4,Hertfordshire Community NHS Trust,FDE218,1.0,1.0,1.0,2.0,2.0,0.24,0.48
1,CT01 - Ward Based Consumables,2023.0,8.0,920.0,78,RTH,Oxford University Hospitals NHS Foundation Trust,FKA040,1.0,1.0,1.0,5.0,5.0,1.72,8.60
2,CT01 - Ward Based Consumables,2023.0,8.0,920.0,78,RTH,Oxford University Hospitals NHS Foundation Trust,FAG6738,1.0,1.0,1.0,10.0,10.0,8.64,86.40

In [44]:
cf_map=pd.read_excel('dist_cf_ncf.xlsx')

In [41]:
trust_PGIDs_framework = pd.merge(Trust_PGIDs,framework_map,on='PG_ID',how='left')
#drop national
#trust_PGIDs_framework =trust_PGIDs_framework.loc[(trust_PGIDs_framework ['PG_ID'] != 1)]
trust_PGIDs_framework

,TRUST_NAME,PG_ID,Oracle_Name,Framework,CF_NCF
0,Birmingham Womens and Childrens NHS Foundation...,1,NaN,NaN,NaN
1,University Hospitals Coventry and Warwickshire...,1,NaN,NaN,NaN
2,Kettering General Hospital NHS Foundation Trust,1,NaN,NaN,NaN
3,Pennine Care NHS Foundation Trust,1,NaN,NaN,NaN
4,Sheffield Childrens NHS Foundation Trust,1,NaN,NaN,NaN
...,...,...,...,...,...
5112,Q E Facilities Ltd,3545,NaN,NaN,NaN
5113,Community Health Partnerships Ltd,1,NaN,NaN,NaN
5114,NHS Hertfordshire and West Essex Integrated Ca...,1,NaN,NaN,NaN
5115,West Hertfordshire Teaching Hospitals NHS Trust,4,Herts Supply Management Confederation,Regional,1
5116,Wrightington Wigan and Leigh Teaching Hospital...,62,Wrightington wigan Leigh Nhs Trust,Misc,1

In [45]:
#merge dist cf or ncf
trust_PGIDs_framework = pd.merge(trust_PGIDs_framework,cf_map,on='TRUST_NAME',how='left')
trust_PGIDs_framework

,TRUST_NAME,PG_ID,Oracle_Name,Framework,CF_NCF,CENTRALLY_FUNDED
0,Birmingham Womens and Childrens NHS Foundation...,1,NaN,NaN,NaN,1
1,University Hospitals Coventry and Warwickshire...,1,NaN,NaN,NaN,1
2,Kettering General Hospital NHS Foundation Trust,1,NaN,NaN,NaN,1
3,Pennine Care NHS Foundation Trust,1,NaN,NaN,NaN,1
4,Sheffield Childrens NHS Foundation Trust,1,NaN,NaN,NaN,1
...,...,...,...,...,...,...
5112,Q E Facilities Ltd,3545,NaN,NaN,NaN,1
5113,Community Health Partnerships Ltd,1,NaN,NaN,NaN,0
5114,NHS Hertfordshire and West Essex Integrated Ca...,1,NaN,NaN,NaN,NaN
5115,West Hertfordshire Teaching Hospitals NHS Trust,4,Herts Supply Management Confederation,Regional,1,1
5116,Wrightington Wigan and Leigh Teaching Hospital...,62,Wrightington wigan Leigh Nhs Trust,Misc,1,1

In [47]:
trust_PGIDs_framework.to_excel('trust_PGIDs_framework.xlsx', index = False)

In [23]:
tower_npcs=libra2023.groupby('TOWER_NAME').size().sort_values(ascending=False) \
  .reset_index(name='NPC')
tower_npcs

                                           TOWER_NAME     NPC
0                       CT01 - Ward Based Consumables  319961
1             CT03 - Infection Control and Wound Care  270503
2   CT05 - Rehabilitation, Disabled Services, Wome...  188257
3               CT02 - Sterile Intervention Equipment  141963
4                           CT11 - NHS Hotel Services  109665
5                           CT09 - Office Consumables  102463
6   CT06 - Cardio-Vascular, Radiology, Endoscopy, ...   79037
7   CT04 - Orthopaedics, Trauma & Spine and Opthal...   66581
8                                         CT10 - Food   58818
9   CT08 - Diagnostic Equipment and Associated Con...   25128
10  CT07 - Large Diagnostic Capital Devices Includ...    1321

In [30]:
#libra2023.groupby(['col1', 'col2']).agg({'col3':'sum','col4':'sum'})

libra2023.groupby(['TOWER_NAME']).agg({'SUPPLIED_INDIVIDIAL_UNITS':'sum','SALES':'sum'})

,SUPPLIED_INDIVIDIAL_UNITS,SALES
TOWER_NAME,,
CT01 - Ward Based Consumables,197953446,68249708
CT02 - Sterile Intervention Equipment,28609500,40909220
CT03 - Infection Control and Wound Care,257882626,31861444
"CT04 - Orthopaedics, Trauma & Spine and Opthalmology",798905,26466417
"CT05 - Rehabilitation, Disabled Services, Women's Health and Associated Consumables",57983653,27180335
"CT06 - Cardio-Vascular, Radiology, Endoscopy, Audiology and Pain Management",11285269,121569707
CT07 - Large Diagnostic Capital Devices Including Mobile and Consumables,209324,2420637
CT08 - Diagnostic Equipment and Associated Consumables,16432404,6879826
CT09 - Office Consumables,257188733,4421249
CT10 - Food,31348742,2822589
CT11 - NHS Hotel Services,164304329,13845517

## Multi-index

In [12]:
df2 = df.set_index(['NHS_WEEK_NO','TRANSACTION_DATE'])
 
# sort the data using sort_index()
df2.sort_index()
 
#print(df2.head())

                              NHS_YEAR  NHS_PERIOD_NO DOH_CODE  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26          2023.0            9.0      RX1
            2022-11-26          2023.0            9.0      RXT
            2022-11-26          2023.0            9.0      RWD
            2022-11-26          2023.0            9.0      RWD
            2022-11-26          2023.0            9.0      RHA
...                                ...            ...      ...
37.0        2022-12-09          2023.0            9.0      RT5
            2022-12-09          2023.0            9.0      LCD
            2022-12-09          2023.0            9.0      NL8
            2022-12-09          2023.0            9.0      RRV
            2022-12-09          2023.0            9.0      RRV

                                                                     TRUST_NAME  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                Nottingham University Hospitals NHS Trust
            2022-11-26        Birmingham and Solihull Mental Health NHS Foun...
            2022-11-26                  United Lincolnshire Hospitals NHS Trust
            2022-11-26                  United Lincolnshire Hospitals NHS Trust
            2022-11-26                     Nottinghamshire Healthcare NHS Trust
...                                                                         ...
37.0        2022-12-09                     Leicestershire Partnership NHS Trust
            2022-12-09                                        Local Care Direct
            2022-12-09                    Locala Comm Partnerships CIC Kirklees
            2022-12-09        University College London Hospitals NHS Founda...
            2022-12-09        University College London Hospitals NHS Founda...

                              WAREHOUSE_CODE DISTRICT_CODE  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                 901.0            26
            2022-11-26                 901.0            J6
            2022-11-26                 901.0            6U
            2022-11-26                 901.0            6U
            2022-11-26                 901.0            NT
...                                      ...           ...
37.0        2022-12-09                 920.0            19
            2022-12-09                 905.0            PJ
            2022-12-09                 905.0            SA
            2022-12-09                 917.0            AP
            2022-12-09                 917.0            AP

                             REQUISITION_POINT_CODE  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                       265298
            2022-11-26                       J62521
            2022-11-26                       6U0004
            2022-11-26                       6U1358
            2022-11-26                       NT019A
...                                             ...
37.0        2022-12-09                       191120
            2022-12-09                       PJ1107
            2022-12-09                       SA017B
            2022-12-09                       AP1508
            2022-12-09                       AP1507

                                     REQUISITION_POINT_NAME       NPC  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                 THEATRES, MAIN STORE    FDC353
            2022-11-26         MEADOWCROFT MARY SEACOLE HSE    FDI268
            2022-11-26                      HATTON WARD LCH    AWB000
            2022-11-26             MIDWIFERY ADMIN. PILGRIM    WEL297
            2022-11-26        E/WD INT TM - L/U - KIMBERLEY    MRT259
...                                                     ...       ...
37.0        2022-12-09         BELVOIR UNIT, BRADGATE (AMH)  WHF85035
            2022-12-09              LOCAL CARE DIRECT-LEEDS   FTR2565
            2022-12-09        CHILD DEVEL CENTRE LOCALA DDH    FTC465
            2022-12-09                     HAEM/ONC WARD L4    ELA787
            2022-12-09                     HAEM/ONC WARD L3    ELA787

                                       MPC  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26        038-82-810NL
            2022-11-26         2009828-035
            2022-11-26              PLA265
            2022-11-26            14972274
            2022-11-26               20138
...                                    ...
37.0        2022-12-09              772369
            2022-12-09              019003
            2022-12-09             1544007
            2022-12-09          3345301006
            2022-12-09          3345301006

                                                      PRODUCT_BASE_DESCRIPTION  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                  Bag rebreathing anaesthesia latex free
            2022-11-26                                         Recording Paper
            2022-11-26                                               Sweetener
            2022-11-26                                         Envelope Wallet
            2022-11-26                          Toilet tissue jumbo roll 1 ply
...                                                                        ...
37.0        2022-12-09                                                   Diary
            2022-12-09                              Alcohol Pre Injection Swab
            2022-12-09                                    Clear guard 3 filter
            2022-12-09        Foam dressing silicone including adhesive border
            2022-12-09        Foam dressing silicone including adhesive border

                                            SUPPLIER_NAME   PG_ID  UOI_UNITS  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26              FLEXICARE MEDICAL LTD     1.0        1.0
            2022-11-26        VYAIRE MEDICAL PRODUCTS LTD     1.0        8.0
            2022-11-26                 NUTSHELL PACKAGING     1.0        1.0
            2022-11-26           LYRECO UK LTD STOCK & BD     1.0      500.0
            2022-11-26           MERTON CLEANING SUPPLIES     1.0        6.0
...                                                   ...     ...        ...
37.0        2022-12-09           LYRECO UK LTD STOCK & BD     1.0        1.0
            2022-12-09                FRONTIER NX LIMITED  4378.0      500.0
            2022-12-09                  INTERSURGICAL LTD  4379.0      150.0
            2022-12-09                  COLOPLAST LIMITED  4582.0        5.0
            2022-12-09                  COLOPLAST LIMITED  4582.0        5.0

                              PRICE_BAND  SUPPLIED_QUANTITY  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26               1.0               -9.0
            2022-11-26               1.0               -1.0
            2022-11-26               1.0             -999.0
            2022-11-26               1.0               -2.0
            2022-11-26               1.0               -9.0
...                                  ...                ...
37.0        2022-12-09               1.0                3.0
            2022-12-09               1.0                2.0
            2022-12-09               1.0                0.0
            2022-12-09               1.0                1.0
            2022-12-09               1.0                2.0

                              SUPPLIED_INDIVIDUAL_UNITS  SALE_PRICE    SALES  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                             -9.0        1.40   -12.64
            2022-11-26                             -8.0       94.32   -94.32
            2022-11-26                           -999.0        1.26 -1256.74
            2022-11-26                          -1000.0       12.01   -24.02
            2022-11-26                            -54.0       22.39  -201.53
...                                                 ...         ...      ...
37.0        2022-12-09                              3.0        1.60     4.79
            2022-12-09                           1000.0        2.74     5.47
            2022-12-09                              0.0        0.00     0.00
            2022-12-09                              5.0        8.38     8.38
            2022-12-09                             10.0        8.38    16.75

                                                           TOWER_NAME
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                  CT01 - Ward Based Consumables
            2022-11-26                  CT01 - Ward Based Consumables
            2022-11-26                                    CT10 - Food
            2022-11-26                      CT09 - Office Consumables
            2022-11-26                      CT11 - NHS Hotel Services
...                                                               ...
37.0        2022-12-09                      CT09 - Office Consumables
            2022-12-09                  CT01 - Ward Based Consumables
            2022-12-09                  CT01 - Ward Based Consumables
            2022-12-09        CT03 - Infection Control and Wound Care
            2022-12-09        CT03 - Infection Control and Wound Care

[1518318 rows x 20 columns]

In [8]:
df2.groupby(level=[0,1]).sum()

                               NHS_YEAR  WAREHOUSE_CODE        PG_ID  \
NHS_PERIOD_NO NHS_WEEK_NO
9.0           36.0         1.497121e+09     676474373.0  490721218.0
              37.0         1.574436e+09     711530787.0  508597975.0

                            UOI_UNITS  PRICE_BAND  SUPPLIED_QUANTITY  \
NHS_PERIOD_NO NHS_WEEK_NO
9.0           36.0         50344961.0    788476.0          5876878.0
              37.0         53296618.0    829403.0          6333474.0

                           SUPPLIED_INDIVIDUAL_UNITS   SALE_PRICE        SALES
NHS_PERIOD_NO NHS_WEEK_NO
9.0           36.0                       179744860.0  29939316.95  64017156.94
              37.0                       194654631.0  29104386.63  64252117.95

In [11]:
df2.groupby(level=[0,1]).count()

                              NHS_YEAR  NHS_PERIOD_NO  DOH_CODE  TRUST_NAME  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26               9              9         9           9
            2022-11-27               1              1         1           1
            2022-11-28          134798         134798    134798      134798
            2022-11-29          138208         138208    138208      138208
            2022-11-30          161389         161389    161389      161389
            2022-12-01          160478         160478    160478      160478
            2022-12-02          145167         145167    145167      145167
37.0        2022-12-05          144652         144652    144652      144652
            2022-12-06          147193         147193    147193      147193
            2022-12-07          164962         164962    164962      164962
            2022-12-08          167354         167354    167354      167354
            2022-12-09          154107         154107    154107      154107

                              WAREHOUSE_CODE  DISTRICT_CODE  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                     9              9
            2022-11-27                     1              1
            2022-11-28                134798         134798
            2022-11-29                138208         138208
            2022-11-30                161389         161389
            2022-12-01                160478         160478
            2022-12-02                145167         145167
37.0        2022-12-05                144652         144652
            2022-12-06                147193         147193
            2022-12-07                164962         164962
            2022-12-08                167354         167354
            2022-12-09                154107         154107

                              REQUISITION_POINT_CODE  REQUISITION_POINT_NAME  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                             9                       9
            2022-11-27                             1                       1
            2022-11-28                        134798                  134798
            2022-11-29                        138208                  138208
            2022-11-30                        161389                  161389
            2022-12-01                        160478                  160478
            2022-12-02                        145167                  145167
37.0        2022-12-05                        144652                  144652
            2022-12-06                        147193                  147193
            2022-12-07                        164962                  164962
            2022-12-08                        167354                  167354
            2022-12-09                        154107                  154107

                                 NPC     MPC  PRODUCT_BASE_DESCRIPTION  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26             9       9                         9
            2022-11-27             1       1                         1
            2022-11-28        134798  134798                    134798
            2022-11-29        138208  138208                    138208
            2022-11-30        161389  161389                    161389
            2022-12-01        160478  160478                    160478
            2022-12-02        145167  145167                    145167
37.0        2022-12-05        144652  144652                    144652
            2022-12-06        147193  147193                    147193
            2022-12-07        164962  164962                    164962
            2022-12-08        167354  167354                    167354
            2022-12-09        154107  154107                    154107

                              SUPPLIER_NAME   PG_ID  UOI_UNITS  PRICE_BAND  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                    9       9          9           9
            2022-11-27                    1       1          1           1
            2022-11-28               134798  134798     134798      134798
            2022-11-29               138208  138208     138208      138208
            2022-11-30               161389  161389     161389      161389
            2022-12-01               160478  160478     160478      160478
            2022-12-02               145167  145167     145167      145167
37.0        2022-12-05               144652  144652     144652      144652
            2022-12-06               147193  147193     147193      147193
            2022-12-07               164962  164962     164962      164962
            2022-12-08               167354  167354     167354      167354
            2022-12-09               154107  154107     154107      154107

                              SUPPLIED_QUANTITY  SUPPLIED_INDIVIDUAL_UNITS  \
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                        9                          9
            2022-11-27                        1                          1
            2022-11-28                   134798                     134798
            2022-11-29                   138208                     138208
            2022-11-30                   161389                     161389
            2022-12-01                   160478                     160478
            2022-12-02                   145167                     145167
37.0        2022-12-05                   144652                     144652
            2022-12-06                   147193                     147193
            2022-12-07                   164962                     164962
            2022-12-08                   167354                     167354
            2022-12-09                   154107                     154107

                              SALE_PRICE   SALES  TOWER_NAME
NHS_WEEK_NO TRANSACTION_DATE
36.0        2022-11-26                 9       9           9
            2022-11-27                 1       1           1
            2022-11-28            134798  134798      134798
            2022-11-29            138208  138208      138208
            2022-11-30            161389  161389      161389
            2022-12-01            160478  160478      160478
            2022-12-02            145167  145167      145167
37.0        2022-12-05            144652  144652      144652
            2022-12-06            147193  147193      147193
            2022-12-07            164962  164962      164962
            2022-12-08            167354  167354      167354
            2022-12-09            154107  154107      154107

## Exported from Access without header in error

In [ ]:
libra_df
# adding column headers
libra_df = pd.read_csv(r"libra/Qry3_libra_2023P10.txt",names=['TOWER_NAME', 'NHS_YEAR', 'NHS_PERIOD_NO', 'NHS_WEEK_NO',
       'WAREHOUSE_CODE', 'DISTRICT_CODE', 'DOH_CODE', 'TRUST_NAME', 'NPC',
       'UOI_UNITS', 'PG_ID', 'PRICE_BAND', 'SumOfSUPPLIED_QUANTITY',
       'SumOfSUPPLIED_INDIVIDUAL_UNITS', 'SALE_PRICE', 'SumOfSALES','Contract_ID'],encoding='cp1252')
libra_df.to_csv('libra2023P10.csv', index = False)
libra_df