In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt, timedelta
import winsound

access_exports_filepath =r"S:\BSA SM Shared\11. Analytics & Reporting Team\11.11 Team Admin\SCDB databases\00_LS_Access_Databases_Price_Errors"
curr_date = dt.today().strftime('%Y%m%d')

# Part 1 - Read Data Files - legacy sell prices, contract buy prices and conlin buy prices

# a. Read Legacy Sell Prices

In [2]:
%%time
legacy_df = pd.read_csv(access_exports_filepath+r"/PRODDB_V_PRODDB_PRICE120230206.txt", header = 0)
legacy_df=legacy_df.rename(columns={"B1_PRICE":"B1_SELL_PRICE"})
winsound.Beep(310,500)
winsound.Beep(240,300)  
legacy_df

CPU times: total: 15.2 s
Wall time: 3min 33s

,NPC,PG_ID,B1_QTY,B1_SELL_PRICE,B2_QTY,B2_PRICE,B3_QTY,B3_PRICE,B4_QTY,B4_PRICE,B5_QTY,B5_PRICE,EFFECTIVE_DATE
0,FSQ431,1.0,1.0,118.09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25/3/2019 00:00:00
1,FSQ429,1.0,1.0,118.09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25/3/2019 00:00:00
2,FSQ430,1.0,1.0,120.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25/3/2019 00:00:00
3,FSQ432,1.0,1.0,78.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25/3/2019 00:00:00
4,FSQ433,1.0,1.0,78.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25/3/2019 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8840238,GAZ13860,6957.0,1.0,109.36,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30/1/2023 00:00:00
8840239,GAZ13872,6957.0,1.0,392.28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30/1/2023 00:00:00
8840240,GAZ13896,6957.0,1.0,392.28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30/1/2023 00:00:00
8840241,GAZ13900,6957.0,1.0,392.28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30/1/2023 00:00:00
8840242,GAZ13902,6957.0,1.0,418.91,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30/1/2023 00:00:00

In [3]:
## check of NPC number
## Remove duplicates NPC)
df1 = legacy_df.drop_duplicates(subset=['PG_ID',"NPC"])
print(np.shape(df1))
df2 = legacy_df.drop_duplicates(subset=["NPC"])
print(np.shape(df2))

(8840243, 13)
(1533149, 13)

## Exclude Multiband, ZEZ, Depletions and Suspensions

In [38]:
legacy_single_band = legacy_df.loc[legacy_df['B2_QTY']==0]
#drop unneeded columns
legacy_single_band=legacy_single_band.drop(["B1_QTY","B2_QTY","B3_QTY","B4_QTY","B5_QTY","B2_PRICE","B3_PRICE","B4_PRICE","B5_PRICE"], axis=1)
legacy_single_band= legacy_single_band.astype({'PG_ID':'int'})
legacy_single_band

              NPC  PG_ID  B1_SELL_PRICE      EFFECTIVE_DATE
0          FSQ431      1         118.09  25/3/2019 00:00:00
1          FSQ429      1         118.09  25/3/2019 00:00:00
2          FSQ430      1         120.00  25/3/2019 00:00:00
3          FSQ432      1          78.00  25/3/2019 00:00:00
4          FSQ433      1          78.00  25/3/2019 00:00:00
...           ...    ...            ...                 ...
8840238  GAZ13860   6957         109.36  30/1/2023 00:00:00
8840239  GAZ13872   6957         392.28  30/1/2023 00:00:00
8840240  GAZ13896   6957         392.28  30/1/2023 00:00:00
8840241  GAZ13900   6957         392.28  30/1/2023 00:00:00
8840242  GAZ13902   6957         418.91  30/1/2023 00:00:00

[8755722 rows x 4 columns]

In [39]:
legacy_single_band_excl_del_ch = legacy_single_band[~legacy_single_band["NPC"].str.contains('ZEZ')]
print(np.shape(legacy_single_band_excl_del_ch))
legacy_single_band_excl_del_ch

(8754593, 4)

              NPC  PG_ID  B1_SELL_PRICE      EFFECTIVE_DATE
0          FSQ431      1         118.09  25/3/2019 00:00:00
1          FSQ429      1         118.09  25/3/2019 00:00:00
2          FSQ430      1         120.00  25/3/2019 00:00:00
3          FSQ432      1          78.00  25/3/2019 00:00:00
4          FSQ433      1          78.00  25/3/2019 00:00:00
...           ...    ...            ...                 ...
8840238  GAZ13860   6957         109.36  30/1/2023 00:00:00
8840239  GAZ13872   6957         392.28  30/1/2023 00:00:00
8840240  GAZ13896   6957         392.28  30/1/2023 00:00:00
8840241  GAZ13900   6957         392.28  30/1/2023 00:00:00
8840242  GAZ13902   6957         418.91  30/1/2023 00:00:00

[8754593 rows x 4 columns]

In [40]:
dep_sus= pd.read_excel("dep_sus.xlsx")
dep_sus_list = dep_sus['NPC'].to_list()
legacy_excl_dep_sus = legacy_single_band_excl_del_ch[~legacy_single_band_excl_del_ch['NPC'].isin(dep_sus_list)]
legacy_excl_dep_sus

              NPC  PG_ID  B1_SELL_PRICE      EFFECTIVE_DATE
0          FSQ431      1         118.09  25/3/2019 00:00:00
1          FSQ429      1         118.09  25/3/2019 00:00:00
2          FSQ430      1         120.00  25/3/2019 00:00:00
3          FSQ432      1          78.00  25/3/2019 00:00:00
4          FSQ433      1          78.00  25/3/2019 00:00:00
...           ...    ...            ...                 ...
8840238  GAZ13860   6957         109.36  30/1/2023 00:00:00
8840239  GAZ13872   6957         392.28  30/1/2023 00:00:00
8840240  GAZ13896   6957         392.28  30/1/2023 00:00:00
8840241  GAZ13900   6957         392.28  30/1/2023 00:00:00
8840242  GAZ13902   6957         418.91  30/1/2023 00:00:00

[8752800 rows x 4 columns]

In [41]:
#take copy from base files folder
#"S:\BSA SM Shared\11. Analytics & Reporting Team\11.20 The Move to Oracle\00a. Base Data for All Oracle Models\Weekly Pricing Product Extract1.csv"
mapping_folder = r"S:\BSA SM Shared\3. Pricing\3.0 Pricing Regulation\99_Mapping_Files"
product_extract_map = pd.read_csv(mapping_folder+r'\Weekly Pricing Product Extract1.csv')
product_extract_map

,ITEM_NUMBER,NPC,ITEM_STATUS,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,PRIMARY_UOM_CODE,UNIT_OF_MEASURE,MBMS
0,ABX005,ABX005,Transacted,0.0,Stocked,Category_Tower_01,EA,Each,N
1,ABX008,ABX008,Transacted,0.0,Stocked,Category_Tower_01,EA,Each,N
2,ABX023,ABX023,Transacted,0.0,Stocked,Category_Tower_01,EA,Each,N
3,ABX030,ABX030,Transacted,0.0,Stocked,Category_Tower_01,EA,Each,N
4,ABX035,ABX035,Transacted,20.0,Blue Diamond,Category_Tower_01,EA,Each,N
...,...,...,...,...,...,...,...,...,...
637034,WHJ090,WHJ090,Transacted,20.0,Blue Diamond,Category_Tower_11,RL,Roll,N
637035,WHJ091,WHJ091,Transacted,20.0,Blue Diamond,Category_Tower_11,RL,Roll,N
637036,WHJ092,WHJ092,Transacted,20.0,Blue Diamond,Category_Tower_11,RL,Roll,N
637037,ZZA85000,ZZA85000,Transacted,20.0,e-Direct,Category_Tower_11,EA,Each,N
637038,ZZA85001,ZZA85001,Transacted,20.0,e-Direct,Category_Tower_11,EA,Each,N

## Filter Product Extract by Transacted only

In [42]:
product_extract_map_transacted=product_extract_map.loc[product_extract_map['ITEM_STATUS']=='Transacted']
print(np.shape(product_extract_map_transacted))

(590173, 9)

In [43]:
product_extract_map=product_extract_map.drop(["ITEM_NUMBER","ITEM_STATUS","PRIMARY_UOM_CODE","UNIT_OF_MEASURE","MBMS"], axis=1)
product_extract_map

             NPC  PERCENTAGE_RATE       CHANNEL         ITEM_CLASS
0         ABX005              0.0       Stocked  Category_Tower_01
1         ABX008              0.0       Stocked  Category_Tower_01
2         ABX023              0.0       Stocked  Category_Tower_01
3         ABX030              0.0       Stocked  Category_Tower_01
4         ABX035             20.0  Blue Diamond  Category_Tower_01
...          ...              ...           ...                ...
637034    WHJ090             20.0  Blue Diamond  Category_Tower_11
637035    WHJ091             20.0  Blue Diamond  Category_Tower_11
637036    WHJ092             20.0  Blue Diamond  Category_Tower_11
637037  ZZA85000             20.0      e-Direct  Category_Tower_11
637038  ZZA85001             20.0      e-Direct  Category_Tower_11

[637039 rows x 4 columns]

## Merge legacy with Attributes

In [44]:
legacy = pd.merge(legacy_excl_dep_sus,product_extract_map,on='NPC',how='left')
legacy

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS
0,FSQ431,1,118.09,25/3/2019 00:00:00,NaN,NaN,NaN
1,FSQ429,1,118.09,25/3/2019 00:00:00,NaN,NaN,NaN
2,FSQ430,1,120.00,25/3/2019 00:00:00,NaN,NaN,NaN
3,FSQ432,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01
4,FSQ433,1,78.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01
...,...,...,...,...,...,...,...
8752795,GAZ13860,6957,109.36,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05
8752796,GAZ13872,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05
8752797,GAZ13896,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05
8752798,GAZ13900,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05
8752799,GAZ13902,6957,418.91,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05

## Exclude those not in Product Hub

In [45]:
legacy_transacted =legacy.loc[legacy['CHANNEL'].notnull()]
print(np.shape(legacy_transacted))

(7079916, 7)

## Add EXVAT columns to National single band

In [46]:
legacy_transacted.loc[:,'B1_EXVAT'] = legacy_transacted['B1_SELL_PRICE']/\
(legacy_transacted['PERCENTAGE_RATE']+100)*100
print(np.shape(legacy_transacted))
legacy_transacted.head(3)

(7079916, 8)

C:\Users\lisa.smith\AppData\Local\Temp\ipykernel_17692\1065966932.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  legacy_transacted.loc[:,'B1_EXVAT'] = legacy_transacted['B1_SELL_PRICE']/\

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT
3,FSQ432,1,78.0,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.0
4,FSQ433,1,78.0,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,65.0
5,FSQ434,1,78.0,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.0

In [47]:
legacy_transacted.to_csv('legacy_'+curr_date+'.csv', index = False)

# b. Read Contract Buy Prices

In [2]:
%%time
# from Sales TransactionsLS.accdb
contract_line = pd.read_csv(access_exports_filepath +r"/Qry4_contract_buy_prices20230206.txt")
contract_line=contract_line.rename(columns={"B1_PRICE":"B1_National_BUY_PRICE"})
winsound.Beep(310,500)
winsound.Beep(240,300)  
contract_line

CPU times: total: 2.33 s
Wall time: 18.7 s

,NPC,B1_National_BUY_PRICE,STATUS_ID,B2_PRICE,B2_QTY,CP_EFFECTIVE_DATE,EFFECTIVE_DATE,CONTRACT_ID
0,FVT013,59.790000,A,0.0,0,22/11/2021 00:00:00,23/3/2012 00:00:00,AA135990
1,FVT030,31.820000,A,0.0,0,22/11/2021 00:00:00,23/3/2012 00:00:00,AA135990
2,ENA014,32.510000,A,0.0,0,14/3/2022 00:00:00,11/3/2022 00:00:00,AA137076
3,FKW1791,50.000000,A,0.0,0,21/2/2018 00:00:00,20/2/2018 00:00:00,AA130558
4,FVT046,108.770000,A,0.0,0,24/12/2021 00:00:00,9/4/2013 00:00:00,AA135992
...,...,...,...,...,...,...,...,...
647749,GAZ86109,1355.000000,A,0.0,0,1/2/2023 00:00:00,1/2/2023 00:00:00,AA133878
647750,GAZ85850,1355.000000,A,0.0,0,1/2/2023 00:00:00,1/2/2023 00:00:00,AA133878
647751,FCB89042,148.450302,A,0.0,0,24/1/2023 00:00:00,24/1/2023 00:00:00,AA135320
647752,FCB88560,173.355336,A,0.0,0,24/1/2023 00:00:00,24/1/2023 00:00:00,AA135320
647753,FCB88811,148.450302,A,0.0,0,24/1/2023 00:00:00,24/1/2023 00:00:00,AA135320

## Exclude Multiband

In [50]:
contract_line_single_band=contract_line.loc[(contract_line ['B2_PRICE'] == 0)]
#drop unneeded columns
contract_line_single_band=contract_line.drop(["STATUS_ID","B2_QTY","B2_PRICE","EFFECTIVE_DATE"], axis=1)
print(np.shape(contract_line_single_band))
contract_line_single_band=contract_line_single_band.round({"B1_National_BUY_PRICE":3})
contract_line_single_band

(647754, 4)

             NPC  B1_National_BUY_PRICE    CP_EFFECTIVE_DATE CONTRACT_ID
0         FVT013                 59.790  22/11/2021 00:00:00    AA135990
1         FVT030                 31.820  22/11/2021 00:00:00    AA135990
2         ENA014                 32.510   14/3/2022 00:00:00    AA137076
3        FKW1791                 50.000   21/2/2018 00:00:00    AA130558
4         FVT046                108.770  24/12/2021 00:00:00    AA135992
...          ...                    ...                  ...         ...
647749  GAZ86109               1355.000    1/2/2023 00:00:00    AA133878
647750  GAZ85850               1355.000    1/2/2023 00:00:00    AA133878
647751  FCB89042                148.450   24/1/2023 00:00:00    AA135320
647752  FCB88560                173.355   24/1/2023 00:00:00    AA135320
647753  FCB88811                148.450   24/1/2023 00:00:00    AA135320

[647754 rows x 4 columns]

# c. Read Conlin - own version with Contract - ***Check query saved with changes in Access before running ***

In [3]:
%%time
# from "00_LS_1_2_Prices_margins_review\Access_Databases\Database_old format_Conlin.mdb"
# Query1-Conlin_with_contract_num
conlin_df = pd.read_csv(access_exports_filepath+r"/Conlin_with_contract_num20230206.txt", header = 0)
#legacy_df=legacy_df.rename(columns={"B1_PRICE":"B1_SELL_PRICE"})
winsound.Beep(310,500)
winsound.Beep(240,300)  
conlin_df

CPU times: total: 12 s
Wall time: 1min 45s

         WHSE_CODE CL_DISTR_NO CL_NSV_CODE  CL_ORD_PRC_BND_1 CL_CONTR_CODE
0              901          B2    ISY14862            125.00      AA035180
1              901          J7      FFX014            346.50      AA108368
2              901          26      FYU694            120.00      AA116218
3              901          61      FQC153            282.21      AA124248
4              901          C6      FGG912            150.00      AA125992
...            ...         ...         ...               ...           ...
8183391        917          WV     FRQ1891           4000.00      AA130004
8183392        917          X1     FRQ1891           4000.00      AA130004
8183393        917          2U     FRQ1892           4000.00      AA130004
8183394        917          AG     FRQ1892           4000.00      AA130004
8183395        917          AM     FRQ1892           4000.00      AA130004

[8183396 rows x 5 columns]

## ****Deep Dive

In [4]:
one_npc=conlin_df.loc[(conlin_df ['CL_NSV_CODE'] == 'FQC11161')]
one_npc

         WHSE_CODE CL_DISTR_NO CL_NSV_CODE  CL_ORD_PRC_BND_1 CL_CONTR_CODE
1493998        901          26    FQC11161            819.66      AA131452
1493999        901          61    FQC11161            999.58      AA131452
1494000        901          6U    FQC11161            819.66      AA131452
1494001        901          73    FQC11161            999.58      AA131452
1494002        901          83    FQC11161            999.58      AA131452
1494003        901          A4    FQC11161            999.58      AA131452
1494004        901          B4    FQC11161            999.58      AA131452
1494005        901          C6    FQC11161            999.58      AA131452
1494006        901          IP    FQC11161            949.60      AA131452
1494007        901          IR    FQC11161            999.58      AA131452
1494008        901          M4    FQC11161            999.58      AA131452
1494009        901          PA    FQC11161            999.58      AA131452
1494010        901          T5    FQC11161            949.60      AA131452
1494011        901          U5    FQC11161            949.60      AA131452
1494012        901          U6    FQC11161            949.60      AA131452
1494013        901          XR    FQC11161            999.58      AA131452
2734313        903          40    FQC11161            599.75      AA131452
2734314        903          55    FQC11161            599.75      AA131452
2734315        903          56    FQC11161            999.58      AA131452
2734316        903          65    FQC11161            819.66      AA131452
2734317        903          AL    FQC11161            970.75      AA131452
2734318        903          LZ    FQC11161            970.75      AA131452
2734319        903          MC    FQC11161            819.66      AA131452
2734320        903          XK    FQC11161            999.58      AA131452
2769790        903          80    FQC11161            999.58      AA132232
4178883        904          11    FQC11161            423.18      AA131452
4178884        904          13    FQC11161            423.18      AA131452
4178885        904          14    FQC11161            423.18      AA131452
4178886        904          20    FQC11161           1164.90      AA131452
4178887        904          56    FQC11161            999.58      AA131452
4178888        904          68    FQC11161            999.58      AA131452
4178889        904          7A    FQC11161            819.66      AA131452
4178890        904          FR    FQC11161            999.58      AA131452
4178891        904          J5    FQC11161            999.58      AA131452
4178892        904          O1    FQC11161            999.58      AA131452
4178893        904          TK    FQC11161            999.58      AA131452
4178894        904          WA    FQC11161            999.58      AA131452
4178895        904          WD    FQC11161            999.58      AA131452
4178896        904          ZP    FQC11161            433.76      AA131452
5932772        905          12    FQC11161            854.64      AA131452
5932773        905          24    FQC11161            666.33      AA131452
5932774        905          4X    FQC11161            819.66      AA131452
5932775        905          90    FQC11161            999.58      AA131452
5932776        905          FC    FQC11161            819.66      AA131452
5932777        905          LU    FQC11161            999.58      AA131452
5932778        905          X1    FQC11161            999.58      AA131452
7397086        907          22    FQC11161            999.58      AA131452
7397087        907          53    FQC11161            819.66      AA131452
7397088        907          79    FQC11161            999.58      AA131452
7397089        907          A7    FQC11161            895.88      AA131452
7397090        907          JI    FQC11161            320.35      AA131452
7397091        907          KS    FQC11161            819.66      AA131452
7397092        907          KT    FQC11161            819.66      AA131452
7397093        907          L4    FQC11161            970.75      AA131452
7397094        907          XQ    FQC11161            819.66      AA131452
8095136        916          PU    FQC11161            970.75      AA131452

## Deep Dive ***

## Exclude National and 997

In [52]:
conlin_regional=conlin_df.loc[(conlin_df ['CL_DISTR_NO'] != '00')]
print(np.shape(conlin_regional))
conlin_regional=conlin_regional.loc[(conlin_regional['WHSE_CODE'] != 997)]
print(np.shape(conlin_regional))
conlin_regional

(8183396, 5)
(8183396, 5)

         WHSE_CODE CL_DISTR_NO CL_NSV_CODE  CL_ORD_PRC_BND_1 CL_CONTR_CODE
0              901          B2    ISY14862            125.00      AA035180
1              901          J7      FFX014            346.50      AA108368
2              901          26      FYU694            120.00      AA116218
3              901          61      FQC153            282.21      AA124248
4              901          C6      FGG912            150.00      AA125992
...            ...         ...         ...               ...           ...
8183391        917          WV     FRQ1891           4000.00      AA130004
8183392        917          X1     FRQ1891           4000.00      AA130004
8183393        917          2U     FRQ1892           4000.00      AA130004
8183394        917          AG     FRQ1892           4000.00      AA130004
8183395        917          AM     FRQ1892           4000.00      AA130004

[8183396 rows x 5 columns]

## read PGID mapping file

In [2]:
%%time
## 4 mins
## 34 million rows
## Database_old_format_Groups.ldb
## PRODDB_V_PURCHASING_GROUPS_NPC
## Query012 - npc into customers
pgidmap_df = pd.read_csv(access_exports_filepath+r'\Proddb_v_purchasing_Groups_Npc120230131.txt', header = 0)
print(np.shape(pgidmap_df))
pgidmap_df = pgidmap_df.astype({'WHSE_CODE':'int','PG_ID':'int'})
pgidmap_df.head(3)

(33792061, 4)
CPU times: total: 16.8 s
Wall time: 4min 12s

        NPC  WHSE_CODE DIST_CODE  PG_ID
0  CFP2127H        907        ID   5568
1  CFP2127H        907        MR   5568
2  CFP2127H        907        ME   5569

In [7]:
pgidmap_df.groupby('WHSE_CODE').size().reset_index(name='NPC')

   WHSE_CODE      NPC
0        901  5169954
1        903  4346468
2        904  5260571
3        905  4664030
4        907  5105238
5        916    15202
6        917  4150369
7        920  5055237
8        997    24992

In [4]:
one_WHSE=pgidmap_df.loc[(pgidmap_df['WHSE_CODE'] == 907)]
one_WHSE

               NPC  WHSE_CODE DIST_CODE  PG_ID
0         CFP2127H        907        ID   5568
1         CFP2127H        907        MR   5568
2         CFP2127H        907        ME   5569
7         CFP2127H        907        9O   5570
8         CFP2127H        907        MP   5570
...            ...        ...       ...    ...
33792034   FAG6815        907        BO   3038
33792039   FAG6815        907        79   3040
33792056   FAG6815        907        QJ   3042
33792057   FAG6815        907        QW   3042
33792058   FAG6815        907        Z4   3042

[5105238 rows x 4 columns]

In [9]:
one_NPC=pgidmap_df.loc[(pgidmap_df['NPC'] == 'ELA1434')]
one_NPC

             NPC  WHSE_CODE DIST_CODE  PG_ID
2101143  ELA1434        901        3O   4370
2101144  ELA1434        901        4I   4370
2101145  ELA1434        901        CE   4370
2101146  ELA1434        901        XL   4370
2101147  ELA1434        903        2I   4370
...          ...        ...       ...    ...
2101577  ELA1434        920        H4   6957
2101578  ELA1434        920        K3   6957
2101579  ELA1434        920        KC   6957
2101580  ELA1434        920        KE   6957
2101581  ELA1434        920        W7   6957

[439 rows x 4 columns]

In [8]:
one_pgid=pgidmap_df.loc[(pgidmap_df['PG_ID'] == 6057)]
one_pgid

             NPC  WHSE_CODE DIST_CODE  PG_ID
2042142  ELA1102        907        0X   6057
2042143  ELA1102        907        5D   6057
2042144  ELA1102        907        7S   6057
2042145  ELA1102        907        IY   6057
2042146  ELA1102        907        LM   6057
...          ...        ...       ...    ...
2101338  ELA1434        920        IY   6057
2101339  ELA1434        920        M1   6057
2101340  ELA1434        920        QB   6057
2101341  ELA1434        920        QD   6057
2101342  ELA1434        920        QG   6057

[120 rows x 4 columns]

## One PGID One NPC

In [11]:
one_NPC=one_pgid.loc[(one_pgid['NPC'] == 'ELA1434')]
one_NPC

             NPC  WHSE_CODE DIST_CODE  PG_ID
2101328  ELA1434        907        0X   6057
2101329  ELA1434        907        5D   6057
2101330  ELA1434        907        7S   6057
2101331  ELA1434        907        IY   6057
2101332  ELA1434        907        LM   6057
2101333  ELA1434        907        RG   6057
2101334  ELA1434        920        2A   6057
2101335  ELA1434        920        2B   6057
2101336  ELA1434        920        2D   6057
2101337  ELA1434        920        2H   6057
2101338  ELA1434        920        IY   6057
2101339  ELA1434        920        M1   6057
2101340  ELA1434        920        QB   6057
2101341  ELA1434        920        QD   6057
2101342  ELA1434        920        QG   6057

## Join Conlin with PGID mapping

In [54]:
%%time
conlin_with_PGID= pd.merge(conlin_regional, pgidmap_df,  how='left', left_on=['WHSE_CODE','CL_DISTR_NO','CL_NSV_CODE'], right_on = ['WHSE_CODE','DIST_CODE','NPC'])
conlin_with_PGID

CPU times: total: 24.8 s
Wall time: 25.1 s

,WHSE_CODE,CL_DISTR_NO,CL_NSV_CODE,CL_ORD_PRC_BND_1,CL_CONTR_CODE,NPC,DIST_CODE,PG_ID
0,901,B2,ISY14862,125.00,AA035180,ISY14862,B2,631.0
1,901,J7,FFX014,346.50,AA108368,NaN,NaN,NaN
2,901,26,FYU694,120.00,AA116218,NaN,NaN,NaN
3,901,61,FQC153,282.21,AA124248,NaN,NaN,NaN
4,901,C6,FGG912,150.00,AA125992,FGG912,C6,2777.0
...,...,...,...,...,...,...,...,...
8183391,917,WV,FRQ1891,4000.00,AA130004,FRQ1891,WV,2804.0
8183392,917,X1,FRQ1891,4000.00,AA130004,FRQ1891,X1,3072.0
8183393,917,2U,FRQ1892,4000.00,AA130004,FRQ1892,2U,2837.0
8183394,917,AG,FRQ1892,4000.00,AA130004,FRQ1892,AG,4327.0
8183395,917,AM,FRQ1892,4000.00,AA130004,FRQ1892,AM,2788.0

## Exclude not in PRDB Groups

In [55]:
conlin_in_producthub=conlin_with_PGID.loc[conlin_with_PGID['NPC'].notna()]
print(np.shape(conlin_in_producthub))
#drop unwanted columns
conlin_in_producthub=conlin_in_producthub.drop(["CL_NSV_CODE"], axis=1)
conlin_in_producthub

(6974568, 8)

,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,NPC,DIST_CODE,PG_ID
0,901,B2,125.0,AA035180,ISY14862,B2,631.0
4,901,C6,150.0,AA125992,FGG912,C6,2777.0
5,901,PA,150.0,AA125992,FGG912,PA,2777.0
6,901,T5,105.0,AA125992,FGG912,T5,2793.0
7,901,U5,105.0,AA125992,FGG912,U5,2793.0
...,...,...,...,...,...,...,...
8183391,917,WV,4000.0,AA130004,FRQ1891,WV,2804.0
8183392,917,X1,4000.0,AA130004,FRQ1891,X1,3072.0
8183393,917,2U,4000.0,AA130004,FRQ1892,2U,2837.0
8183394,917,AG,4000.0,AA130004,FRQ1892,AG,4327.0
8183395,917,AM,4000.0,AA130004,FRQ1892,AM,2788.0

# Part 2 - Join Legacy sell, Contract buy and Conlin buy

## Join legacy and contract buy

In [56]:
%%time
legacy_with_contract = pd.merge(legacy_transacted,contract_line_single_band,on='NPC',how='left')
legacy_with_contract

CPU times: total: 7.44 s
Wall time: 7.53 s

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID
0,FSQ432,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688
1,FSQ433,1,78.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688
2,FSQ434,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688
3,FSQ435,1,72.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688
4,FSQ436,1,72.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688
...,...,...,...,...,...,...,...,...,...,...,...
7079911,GAZ13860,6957,109.36,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,91.133333,88.40,9/12/2020 00:00:00,AA133894
7079912,GAZ13872,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894
7079913,GAZ13896,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894
7079914,GAZ13900,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894
7079915,GAZ13902,6957,418.91,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,349.091667,338.62,9/12/2020 00:00:00,AA133894

## Join with conlin

In [57]:
%%time
legacy_with_contract_and_conlin = pd.merge(legacy_with_contract,conlin_in_producthub,how='left', on=['PG_ID','NPC'])
legacy_with_contract_and_conlin

CPU times: total: 11.2 s
Wall time: 11.3 s

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE
0,FSQ432,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
1,FSQ433,1,78.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
2,FSQ434,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
3,FSQ435,1,72.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
4,FSQ436,1,72.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425621,GAZ13860,6957,109.36,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,91.133333,88.40,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425622,GAZ13872,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425623,GAZ13896,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425624,GAZ13900,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425625,GAZ13902,6957,418.91,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,349.091667,338.62,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN

In [58]:
# sent to csv here and then shut down everything to reset memory
legacy_with_contract_and_conlin.to_csv('legacy_with_contract_and_conlin_'+curr_date+'.csv', index = False)

In [3]:
%%time
legacy_with_contract_and_conlin = pd.read_csv("legacy_with_contract_and_conlin_20230206.csv", header = 0)
print(np.shape(legacy_with_contract_and_conlin))
legacy_with_contract_and_conlin

(9425626, 16)
CPU times: total: 18.6 s
Wall time: 18.6 s

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE
0,FSQ432,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
1,FSQ433,1,78.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
2,FSQ434,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
3,FSQ435,1,72.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
4,FSQ436,1,72.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425621,GAZ13860,6957,109.36,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,91.133333,88.40,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425622,GAZ13872,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425623,GAZ13896,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425624,GAZ13900,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN
9425625,GAZ13902,6957,418.91,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,349.091667,338.62,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN

### **** Deep-dive investigation

In [66]:

check_one_npc=legacy_with_contract_and_conlin.loc[legacy_with_contract_and_conlin['NPC']==npc]
check_one_npc

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE
38282,FJH4204,404,22.80,29/3/2019 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,901.0,6B,19.00,AA131388,6B
38283,FJH4204,404,22.80,29/3/2019 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,901.0,XT,19.00,AA131388,XT
203024,FJH4204,317,10.39,23/12/2022 00:00:00,20.0,e-Direct,Category_Tower_04,8.658333,19.0,9/9/2015 00:00:00,AA131388,903.0,40,8.66,AA131388,40
230037,FJH4204,330,11.47,29/3/2019 00:00:00,20.0,e-Direct,Category_Tower_04,9.558333,19.0,9/9/2015 00:00:00,AA131388,904.0,13,9.56,AA131388,13
248184,FJH4204,458,22.80,2/9/2022 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,905.0,DU,19.00,AA131388,DU
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8478166,FJH4204,1781,9.59,1/3/2022 00:00:00,20.0,e-Direct,Category_Tower_04,7.991667,19.0,9/9/2015 00:00:00,AA131388,907.0,AM,7.99,AA131388,AM
8496058,FJH4204,1209,11.24,1/3/2022 00:00:00,20.0,e-Direct,Category_Tower_04,9.366667,19.0,9/9/2015 00:00:00,AA131388,907.0,53,9.37,AA131388,53
8634548,FJH4204,3803,15.26,16/3/2022 00:00:00,20.0,e-Direct,Category_Tower_04,12.716667,19.0,9/9/2015 00:00:00,AA131388,907.0,5V,12.72,AA131388,5V
8990522,FJH4204,4313,11.59,30/9/2022 00:00:00,20.0,e-Direct,Category_Tower_04,9.658333,19.0,9/9/2015 00:00:00,AA131388,NaN,NaN,NaN,NaN,NaN
9151109,FJH4204,2907,17.13,21/10/2022 00:00:00,20.0,e-Direct,Category_Tower_04,14.275000,19.0,9/9/2015 00:00:00,AA131388,901.0,77,14.28,AA131388,77

In [4]:
npc_list=['AFP178','AEB217','AFP176']
several_NPCs=legacy_with_contract_and_conlin[legacy_with_contract_and_conlin['NPC'].isin(npc_list)]
several_NPCs

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE
145235,AEB217,1,1.22,25/11/2022 00:00:00,0.0,Stocked,Category_Tower_10,1.22,1.220,25/11/2022 00:00:00,AA136402,NaN,NaN,NaN,NaN,NaN
410789,AFP178,1,6.33,23/1/2023 00:00:00,0.0,Stocked,Category_Tower_10,6.33,6.333,23/1/2023 00:00:00,AA136388,NaN,NaN,NaN,NaN,NaN
9404453,AEB217,6957,1.36,30/1/2023 00:00:00,0.0,Stocked,Category_Tower_10,1.36,1.220,25/11/2022 00:00:00,AA136402,NaN,NaN,NaN,NaN,NaN
9409120,AFP178,6957,7.04,30/1/2023 00:00:00,0.0,Stocked,Category_Tower_10,7.04,6.333,23/1/2023 00:00:00,AA136388,NaN,NaN,NaN,NaN,NaN

In [67]:
one_npc_with_pgid_info

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE,PG_NAME,Category
0,FJH4204,404,22.80,29/3/2019 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,901,6B,19.00,AA131388,6B,Barnsley Joint Replacement Mini Comp,MBMS
1,FJH4204,404,22.80,29/3/2019 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,901,XT,19.00,AA131388,XT,Barnsley Joint Replacement Mini Comp,MBMS
2,FJH4204,317,10.39,23/12/2022 00:00:00,20.0,e-Direct,Category_Tower_04,8.658333,19.0,9/9/2015 00:00:00,AA131388,903,40,8.66,AA131388,40,Royal Liverpool Joint Replacement Mini Comp,MBMS
3,FJH4204,330,11.47,29/3/2019 00:00:00,20.0,e-Direct,Category_Tower_04,9.558333,19.0,9/9/2015 00:00:00,AA131388,904,13,9.56,AA131388,13,North Bristol Avon Orthopaedic Centre Joint Re...,MBMS
4,FJH4204,458,22.80,2/9/2022 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,905,DU,19.00,AA131388,DU,Airedale Joint Replacement Mini Comp,MBMS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,FJH4204,2260,22.80,30/12/2022 00:00:00,20.0,e-Direct,Category_Tower_04,19.000000,19.0,9/9/2015 00:00:00,AA131388,901,L6,19.00,AA131388,L6,University Hospitals Of Leicester Nhs Trust,NaN
57,FJH4204,1781,9.59,1/3/2022 00:00:00,20.0,e-Direct,Category_Tower_04,7.991667,19.0,9/9/2015 00:00:00,AA131388,907,AM,7.99,AA131388,AM,Barts Health Nhs Trust,MBMS
58,FJH4204,1209,11.24,1/3/2022 00:00:00,20.0,e-Direct,Category_Tower_04,9.366667,19.0,9/9/2015 00:00:00,AA131388,907,53,9.37,AA131388,53,Trauma Lewisham Healthcare Nhs Trust,MBMS
59,FJH4204,3803,15.26,16/3/2022 00:00:00,20.0,e-Direct,Category_Tower_04,12.716667,19.0,9/9/2015 00:00:00,AA131388,907,5V,12.72,AA131388,5V,East Sussex Healthcare Nhs Trust Orthopaedics,MBMS
60,FJH4204,2907,17.13,21/10/2022 00:00:00,20.0,e-Direct,Category_Tower_04,14.275000,19.0,9/9/2015 00:00:00,AA131388,901,77,14.28,AA131388,77,Derby Hospitals Orthopaedics,MBMS

In [68]:
one_npc_with_details

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,DOH_CODE,DIST_NAME,CL_ORD_PRC_BND_1,Category,CENTRALLY_FUNDED
0,Category_Tower_04,404,Barnsley Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,22.80,19.000000,29/3/2019 00:00:00,19.0,9/9/2015 00:00:00,AA131388,901,6B,RFF,Barnsley Hospital NHS Foundation Trust,19.00,MBMS,1
1,Category_Tower_04,404,Barnsley Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,22.80,19.000000,29/3/2019 00:00:00,19.0,9/9/2015 00:00:00,AA131388,901,XT,FMA13,Barnsley Facilities Services Ltd,19.00,MBMS,1
2,Category_Tower_04,317,Royal Liverpool Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,10.39,8.658333,23/12/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,903,40,REM,Liverpool University Hospitals NHS Foundation ...,8.66,MBMS,1
3,Category_Tower_04,330,North Bristol Avon Orthopaedic Centre Joint Re...,FJH4204,e-Direct,20.0,11.47,9.558333,29/3/2019 00:00:00,19.0,9/9/2015 00:00:00,AA131388,904,13,RVJ,North Bristol NHS Trust,9.56,MBMS,1
4,Category_Tower_04,458,Airedale Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,22.80,19.000000,2/9/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,905,DU,RCF,Airedale NHS Foundation Trust,19.00,MBMS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Category_Tower_04,2260,University Hospitals Of Leicester Nhs Trust,FJH4204,e-Direct,20.0,22.80,19.000000,30/12/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,901,L6,RWE,University Hospitals of Leicester NHS Trust,19.00,NaN,1
57,Category_Tower_04,1781,Barts Health Nhs Trust,FJH4204,e-Direct,20.0,9.59,7.991667,1/3/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,907,AM,R1H,Barts Health NHS Trust,7.99,MBMS,1
58,Category_Tower_04,1209,Trauma Lewisham Healthcare Nhs Trust,FJH4204,e-Direct,20.0,11.24,9.366667,1/3/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,907,53,RJ2,Lewisham and Greenwich NHS Trust,9.37,MBMS,1
59,Category_Tower_04,3803,East Sussex Healthcare Nhs Trust Orthopaedics,FJH4204,e-Direct,20.0,15.26,12.716667,16/3/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,907,5V,RXC,East Sussex Healthcare NHS Trust,12.72,MBMS,1
60,Category_Tower_04,2907,Derby Hospitals Orthopaedics,FJH4204,e-Direct,20.0,17.13,14.275000,21/10/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,901,77,RTG,University Hospitals of Derby and Burton NHS F...,14.28,MBMS,1

In [63]:
#filter by one NPC
npc='FJH4204'
regional=legacy_with_contract_and_conlin.loc[legacy_with_contract_and_conlin['WHSE_CODE'].notnull()]
one_npc=regional.loc[regional['NPC']==npc]
one_npc= one_npc.astype({'WHSE_CODE':'int'})
# merge with PGID info and Customer info
pgid_name_class= pd.read_excel("PGID_name_classific.xlsx")
customer_info= pd.read_excel("customer_info.xlsx")
one_npc_with_pgid_info = pd.merge(one_npc, pgid_name_class,  how='left', on=['PG_ID'])
one_npc_with_details = pd.merge(one_npc_with_pgid_info, customer_info,  how='left', left_on=['WHSE_CODE','CL_DISTR_NO'],right_on=['WHSE_CODE','DIST_CODE'])
cols = ['ITEM_CLASS','PG_ID', 'PG_NAME', 'NPC', 'CHANNEL', 'PERCENTAGE_RATE',
       'B1_SELL_PRICE','B1_EXVAT', 'EFFECTIVE_DATE',  'B1_National_BUY_PRICE',
       'CP_EFFECTIVE_DATE', 'CONTRACT_ID', 'WHSE_CODE', 'CL_DISTR_NO','DOH_CODE','DIST_NAME',
       'CL_ORD_PRC_BND_1',
       'Category', 'CENTRALLY_FUNDED']
one_npc_with_details = one_npc_with_details[cols]
one_npc_with_details.head(3)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,DOH_CODE,DIST_NAME,CL_ORD_PRC_BND_1,Category,CENTRALLY_FUNDED
0,Category_Tower_04,404,Barnsley Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,22.80,19.000000,29/3/2019 00:00:00,19.0,9/9/2015 00:00:00,AA131388,901,6B,RFF,Barnsley Hospital NHS Foundation Trust,19.00,MBMS,1
1,Category_Tower_04,404,Barnsley Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,22.80,19.000000,29/3/2019 00:00:00,19.0,9/9/2015 00:00:00,AA131388,901,XT,FMA13,Barnsley Facilities Services Ltd,19.00,MBMS,1
2,Category_Tower_04,317,Royal Liverpool Joint Replacement Mini Comp,FJH4204,e-Direct,20.0,10.39,8.658333,23/12/2022 00:00:00,19.0,9/9/2015 00:00:00,AA131388,903,40,REM,Liverpool University Hospitals NHS Foundation ...,8.66,MBMS,1

In [69]:
one_npc_with_details.to_excel(npc+'_Conlin_'+curr_date+'.xlsx', index = False)

### **** End of Deep-dive investigation

## Add PGID Name, Classification and CF/NCF

In [43]:
pgid_name_class= pd.read_excel("PGID_name_classific.xlsx")
pgid_name_class

      PG_ID                                  PG_NAME Category
0      5781        Genmed Ltd NCF Core Catalogue-ROH     Core
1      5836            ICF - Ramsay Healthcare - NCF     Core
2      5568                  ICF NCF Band 1   0-24.9     Core
3      5569                 ICF NCF Band 2   25-49.9     Core
4      5570                 ICF NCF Band 3   50-74.9     Core
...     ...                                      ...      ...
5845   6981  Ct02 Cf Npm Mis United Lincs J&j 1 Year      NPM
5846   6982   Ct01 Cf Npm Med Matters Sensors Tier 1      NPM
5847   6983   Ct01 Cf Npm Med Matters Sensors Tier 2      NPM
5848   6984   Ct01 Cf Npm Med Matters Sensors Tier 3      NPM
5849      1                                 National      NaN

[5850 rows x 3 columns]

In [72]:
legacy_with_contract_and_conlin_attr= pd.merge(legacy_with_contract_and_conlin, pgid_name_class,  how='left', on=['PG_ID'])
legacy_with_contract_and_conlin_attr

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE,PG_NAME,Category
0,FSQ432,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN
1,FSQ433,1,78.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN
2,FSQ434,1,78.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.000000,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN
3,FSQ435,1,72.00,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN
4,FSQ436,1,72.00,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,60.000000,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425621,GAZ13860,6957,109.36,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,91.133333,88.40,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,All Towers - Ncf - Master Pgid For Icbs Nov 2022,NaN
9425622,GAZ13872,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,All Towers - Ncf - Master Pgid For Icbs Nov 2022,NaN
9425623,GAZ13896,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,All Towers - Ncf - Master Pgid For Icbs Nov 2022,NaN
9425624,GAZ13900,6957,392.28,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,326.900000,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,All Towers - Ncf - Master Pgid For Icbs Nov 2022,NaN
9425625,GAZ13902,6957,418.91,30/1/2023 00:00:00,20.0,e-Direct,Category_Tower_05,349.091667,338.62,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,All Towers - Ncf - Master Pgid For Icbs Nov 2022,NaN

In [73]:
cf_ncfmap= pd.read_excel("CF_NCF_map.xlsx")
cf_ncfmap

        WHSE_CODE DIST_CODE  CENTRALLY_FUNDED
0             901        01               0.0
1             901        02               0.0
2             901        04               1.0
3             901        05               1.0
4             901        06               0.0
...           ...       ...               ...
7437          999        99               0.0
7438          999        GL               1.0
7439          999        HD               1.0
7440          999        LA               1.0
7441  Grand Total       NaN               NaN

[7442 rows x 3 columns]

In [74]:
legacy_with_contract_and_conlin_attr_cust= pd.merge(legacy_with_contract_and_conlin_attr, cf_ncfmap,  how='left', left_on=['WHSE_CODE','CL_DISTR_NO'], right_on = ['WHSE_CODE','DIST_CODE'])
legacy_with_contract_and_conlin_attr_cust.head(3)

,NPC,PG_ID,B1_SELL_PRICE,EFFECTIVE_DATE,PERCENTAGE_RATE,CHANNEL,ITEM_CLASS,B1_EXVAT,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,PG_NAME,Category,DIST_CODE_y,CENTRALLY_FUNDED
0,FSQ432,1,78.0,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.0,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN,NaN,NaN
1,FSQ433,1,78.0,25/3/2019 00:00:00,20.0,Blue Diamond,Category_Tower_01,65.0,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN,NaN,NaN
2,FSQ434,1,78.0,25/3/2019 00:00:00,20.0,e-Direct,Category_Tower_01,65.0,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,National,NaN,NaN,NaN

In [75]:
legacy_with_contract_and_conlin_attr_cust=legacy_with_contract_and_conlin_attr_cust.drop(["DIST_CODE_y"], axis=1)
#legacy_with_contract_and_conlin_attr_cust.columns

## Re-Order Columns

In [76]:
cols = ['ITEM_CLASS','PG_ID', 'PG_NAME', 'NPC', 'CHANNEL', 'PERCENTAGE_RATE',
       'B1_SELL_PRICE','B1_EXVAT', 'EFFECTIVE_DATE',  'B1_National_BUY_PRICE',
       'CP_EFFECTIVE_DATE', 'CONTRACT_ID', 'WHSE_CODE', 'CL_DISTR_NO',
       'CL_ORD_PRC_BND_1', 'CL_CONTR_CODE', 'DIST_CODE_x',
       'Category', 'CENTRALLY_FUNDED']
legacy_with_contract_and_conlin_attr_cust = legacy_with_contract_and_conlin_attr_cust[cols]
print(np.shape(legacy_with_contract_and_conlin_attr_cust))
legacy_with_contract_and_conlin_attr_cust.to_csv('legacy_conlin_contract'+curr_date+'.csv', index = False)
legacy_with_contract_and_conlin_attr_cust

(9425626, 19)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,Category_Tower_01,1,National,FSQ432,e-Direct,20.0,78.00,65.000000,25/3/2019 00:00:00,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category_Tower_01,1,National,FSQ433,Blue Diamond,20.0,78.00,65.000000,25/3/2019 00:00:00,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Category_Tower_01,1,National,FSQ434,e-Direct,20.0,78.00,65.000000,25/3/2019 00:00:00,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Category_Tower_01,1,National,FSQ435,e-Direct,20.0,72.00,60.000000,25/3/2019 00:00:00,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Category_Tower_01,1,National,FSQ436,Blue Diamond,20.0,72.00,60.000000,25/3/2019 00:00:00,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425621,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13860,e-Direct,20.0,109.36,91.133333,30/1/2023 00:00:00,88.40,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425622,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13872,e-Direct,20.0,392.28,326.900000,30/1/2023 00:00:00,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425623,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13896,e-Direct,20.0,392.28,326.900000,30/1/2023 00:00:00,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425624,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13900,e-Direct,20.0,392.28,326.900000,30/1/2023 00:00:00,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425625,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13902,e-Direct,20.0,418.91,349.091667,30/1/2023 00:00:00,338.62,9/12/2020 00:00:00,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Part 3 - Analysis

In [2]:
%%time
df = pd.read_csv("legacy_conlin_contract20230206.csv", header = 0)
df.B1_EXVAT= df.B1_EXVAT.round(2)
df.B1_National_BUY_PRICE= df.B1_National_BUY_PRICE.round(2)
df.head(3)

CPU times: total: 26.2 s
Wall time: 26.9 s

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,Category_Tower_01,1,National,FSQ432,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category_Tower_01,1,National,FSQ433,Blue Diamond,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Category_Tower_01,1,National,FSQ434,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
test_df=df
#format='%d%b%Y:%H:%M:%S.%f')
test_df['EFFECTIVE_DATE'] =  pd.to_datetime(test_df['EFFECTIVE_DATE'])
test_df['CP_EFFECTIVE_DATE'] =  pd.to_datetime(test_df['CP_EFFECTIVE_DATE'])
test_df

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,Category_Tower_01,1,National,FSQ432,e-Direct,20.0,78.00,65.00,2019-03-25,65.00,2013-01-08,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category_Tower_01,1,National,FSQ433,Blue Diamond,20.0,78.00,65.00,2019-03-25,65.00,2013-01-08,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Category_Tower_01,1,National,FSQ434,e-Direct,20.0,78.00,65.00,2019-03-25,65.00,2013-01-08,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Category_Tower_01,1,National,FSQ435,e-Direct,20.0,72.00,60.00,2019-03-25,60.00,2018-05-04,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Category_Tower_01,1,National,FSQ436,Blue Diamond,20.0,72.00,60.00,2019-03-25,60.00,2018-05-04,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425621,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13860,e-Direct,20.0,109.36,91.13,2023-01-30,88.40,2020-09-12,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425622,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13872,e-Direct,20.0,392.28,326.90,2023-01-30,317.09,2020-09-12,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425623,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13896,e-Direct,20.0,392.28,326.90,2023-01-30,317.09,2020-09-12,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425624,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13900,e-Direct,20.0,392.28,326.90,2023-01-30,317.09,2020-09-12,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9425625,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13902,e-Direct,20.0,418.91,349.09,2023-01-30,338.62,2020-09-12,AA133894,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
test_df.dtypes

ITEM_CLASS                       object
PG_ID                             int64
PG_NAME                          object
NPC                              object
CHANNEL                          object
PERCENTAGE_RATE                 float64
B1_SELL_PRICE                   float64
B1_EXVAT                        float64
EFFECTIVE_DATE           datetime64[ns]
B1_National_BUY_PRICE           float64
CP_EFFECTIVE_DATE        datetime64[ns]
CONTRACT_ID                      object
WHSE_CODE                       float64
CL_DISTR_NO                      object
CL_ORD_PRC_BND_1                float64
CL_CONTR_CODE                    object
DIST_CODE_x                      object
Category                         object
CENTRALLY_FUNDED                float64
dtype: object

## Ai. All PGIDs - Zero Sell and Buy Prices

In [17]:
zero_sell=df.loc[df['B1_SELL_PRICE']==0]
zero_sell

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
1005,Category_Tower_06,2673,HCTED DEV 17 - Peripheral Vascular Stents,FRM11537,e-Direct,20.0,0.0,0.0,15/5/2019 00:00:00,787.50,19/9/2017 00:00:00,AA126124,NaN,NaN,NaN,NaN,NaN,HCTED,NaN
1882,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8129,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.00,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1890,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8130,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.00,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1891,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8131,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.00,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1892,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8132,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.00,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9418999,Category_Tower_05,1,National,ERU85058,e-Direct,20.0,0.0,0.0,23/1/2023 13:07:46,26.10,6/2/2023 00:00:00,AA132318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9419000,Category_Tower_05,1,National,ERU85065,e-Direct,20.0,0.0,0.0,23/1/2023 13:07:46,26.55,6/2/2023 00:00:00,AA132318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9419001,Category_Tower_05,1,National,ERU85069,e-Direct,20.0,0.0,0.0,23/1/2023 13:07:46,29.70,6/2/2023 00:00:00,AA132318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9419002,Category_Tower_05,1,National,ERU85075,e-Direct,20.0,0.0,0.0,23/1/2023 13:07:46,26.10,6/2/2023 00:00:00,AA132318,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9419003,Category_Tower_05,1,National,ERU85080,e-Direct,20.0,0.0,0.0,23/1/2023 13:07:46,29.70,6/2/2023 00:00:00,AA132318,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
zero_sell.to_excel('zero_sell_'+curr_date+'.xlsx', index = False)

In [19]:
zero_buy=df.loc[df['B1_National_BUY_PRICE']==0]
#zero_buy.to_excel('zero_buy_'+curr_date+'.xlsx', index = False)   
zero_buy

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
983,Category_Tower_02,1,National,FTG460,e-Direct,20.0,0.001,0.00,28/10/2015 00:00:00,0.0,28/10/2015 00:00:00,AA131648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2116,Category_Tower_06,2661,HCTED DEV 05 - Bone Conducting Hearing Implants,GHB12966,e-Direct,20.0,0.000,0.00,17/6/2020 00:00:00,0.0,27/3/2019 00:00:00,AA132946,NaN,NaN,NaN,NaN,NaN,Bespoke deal,NaN
2117,Category_Tower_06,2661,HCTED DEV 05 - Bone Conducting Hearing Implants,GHB12967,e-Direct,20.0,0.000,0.00,17/6/2020 00:00:00,0.0,27/3/2019 00:00:00,AA132946,NaN,NaN,NaN,NaN,NaN,Bespoke deal,NaN
2121,Category_Tower_06,2661,HCTED DEV 05 - Bone Conducting Hearing Implants,GHB12968,e-Direct,20.0,0.000,0.00,17/6/2020 00:00:00,0.0,27/3/2019 00:00:00,AA132946,NaN,NaN,NaN,NaN,NaN,Bespoke deal,NaN
2122,Category_Tower_06,2661,HCTED DEV 05 - Bone Conducting Hearing Implants,GHB12969,e-Direct,20.0,0.000,0.00,17/6/2020 00:00:00,0.0,27/3/2019 00:00:00,AA132946,NaN,NaN,NaN,NaN,NaN,Bespoke deal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9401184,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ19265,e-Direct,20.0,0.000,0.00,30/1/2023 00:00:00,0.0,8/1/2021 00:00:00,AA133892,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9404655,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ31068,e-Direct,20.0,0.000,0.00,30/1/2023 00:00:00,0.0,24/12/2020 00:00:00,AA133892,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9410542,Category_Tower_01,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,FSM6157,Blue Diamond,20.0,0.000,0.00,30/1/2023 00:00:00,0.0,30/11/2015 00:00:00,AA131280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9410545,Category_Tower_01,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,FSM6160,Blue Diamond,20.0,0.000,0.00,30/1/2023 00:00:00,0.0,30/11/2015 00:00:00,AA131280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9420917,Category_Tower_04,6180,The University Hospitals Dorset Nhs Foundation...,FTJ915,e-Direct,20.0,15.690,13.08,27/1/2023 00:00:00,0.0,3/2/2020 00:00:00,AA131434,904.0,09,13.08,AA131434,09,MBMS,1.0

In [20]:
conlin_zero_buy=df.loc[df['CL_ORD_PRC_BND_1']==0]
#conlin_zero_buy.to_excel('conlin_zero_buy_'+curr_date+'.xlsx', index = False)   
conlin_zero_buy

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
1882,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8129,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.0,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1890,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8130,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.0,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1891,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8131,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.0,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1892,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8132,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.0,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
1894,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8133,e-Direct,20.0,0.0,0.0,5/4/2019 00:00:00,5500.0,5/7/2017 00:00:00,AA135042,903.0,MC,0.0,AA135042,MC,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9073105,Category_Tower_06,2793,HCTED University Hospitals Birmingham,ZZA983,e-Direct,0.0,0.0,0.0,22/9/2022 00:00:00,0.0,20/9/2018 00:00:00,AA129042,901.0,U5,0.0,AA129042,U5,MBMS,1.0
9073106,Category_Tower_06,2793,HCTED University Hospitals Birmingham,ZZA983,e-Direct,0.0,0.0,0.0,22/9/2022 00:00:00,0.0,20/9/2018 00:00:00,AA129042,901.0,U6,0.0,AA129042,U6,MBMS,1.0
9229600,Category_Tower_04,5728,Western Sussex Hospitals NHS Foundation Trust ...,FJT57483,e-Direct,20.0,0.0,0.0,10/1/2023 00:00:00,60.0,18/10/2022 00:00:00,AA131360,907.0,21,0.0,AA131360,21,MBMS,1.0
9342325,Category_Tower_06,2777,HCTED Sheffield Teaching Hospitals,FRP2567,e-Direct,20.0,0.0,0.0,20/1/2023 00:00:00,200.0,25/8/2021 00:00:00,AA129434,901.0,C6,0.0,AA129434,C6,HCTED,1.0
9342326,Category_Tower_06,2777,HCTED Sheffield Teaching Hospitals,FRP2567,e-Direct,20.0,0.0,0.0,20/1/2023 00:00:00,200.0,25/8/2021 00:00:00,AA129434,901.0,PA,0.0,AA129434,PA,HCTED,1.0

## Aii. National, Core, uncat zero buy, zero sell - exclude MBMS, NPM, Linked Deals, Bespoke Deals

In [32]:
pgids_stage_2 = ['HCTED','MBMS','Linked Deal','Bespoke deal','Band','NPM','HDS','NCP']
pgids_stage_1 = df[~df['Category'].isin(pgids_stage_2)]
pgids_stage_1

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,Category_Tower_01,1,National,FSQ432,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category_Tower_01,1,National,FSQ433,Blue Diamond,20.0,78.0,65.0,25/3/2019 00:00:00,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Category_Tower_01,1,National,FSQ434,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.00,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Category_Tower_01,1,National,FSQ435,e-Direct,20.0,72.0,60.0,25/3/2019 00:00:00,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Category_Tower_01,1,National,FSQ436,Blue Diamond,20.0,72.0,60.0,25/3/2019 00:00:00,60.00,5/4/2018 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11123096,Category_Tower_02,1,National,EHC85002,e-Direct,20.0,0.0,0.0,16/1/2023 10:44:08,214.10,17/1/2023 00:00:00,AA131764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11123097,Category_Tower_02,1,National,EHC85003,e-Direct,20.0,0.0,0.0,16/1/2023 10:44:08,198.06,17/1/2023 00:00:00,AA131764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11123098,Category_Tower_02,1,National,EHC85017,e-Direct,20.0,0.0,0.0,16/1/2023 11:33:18,86.20,17/1/2023 00:00:00,AA131764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11123099,Category_Tower_02,1,National,EHC85007,e-Direct,20.0,0.0,0.0,16/1/2023 11:33:18,197.08,17/1/2023 00:00:00,AA131764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11123100,Category_Tower_02,1,National,EHC85013,e-Direct,20.0,0.0,0.0,16/1/2023 11:33:18,94.53,17/1/2023 00:00:00,AA131764,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
pgids_stage_1.to_csv('pgids_stage_1_'+curr_date+'.csv', index = False)

In [8]:
pgids_stage_1 = pd.read_csv("pgids_stage_1_20230203.csv", header = 0)

## B. National - buy != sell

In [78]:
national_df=df.loc[df['PG_ID']==1]
print(np.shape(national_df))

(575178, 19)

In [79]:
national_buy_sell_inequal=national_df.query('B1_EXVAT != B1_National_BUY_PRICE')
national_buy_sell_inequal

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
15,Category_Tower_01,1,National,FTC151,Blue Diamond,20.0,160.24,133.53,1/5/2019 00:00:00,133.54,2/5/2019 00:00:00,AA130662,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Category_Tower_02,1,National,FVU386,Stocked,20.0,33.03,27.52,24/12/2021 00:00:00,27.53,24/12/2021 00:00:00,AA135990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Category_Tower_05,1,National,GDH137,Blue Diamond,20.0,57.34,47.78,13/5/2019 00:00:00,47.79,13/5/2015 00:00:00,AA130740,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Category_Tower_03,1,National,ELZ127,Stocked,20.0,24.00,20.00,25/3/2019 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Category_Tower_09,1,National,WYL164,e-Direct,20.0,16.71,13.92,1/9/2022 00:00:00,13.93,1/9/2022 00:00:00,AA137048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9422250,Category_Tower_06,1,National,GHB85579,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422255,Category_Tower_06,1,National,GHB85582,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422257,Category_Tower_06,1,National,GHB85585,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422258,Category_Tower_06,1,National,GHB85594,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422260,Category_Tower_06,1,National,GHB85614,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exclude zero buy, zero sell, and 1p differences

In [80]:
national_buy_sell_inequal=national_buy_sell_inequal.loc[national_buy_sell_inequal['B1_EXVAT']!=0]
national_buy_sell_inequal=national_buy_sell_inequal.loc[national_buy_sell_inequal['B1_National_BUY_PRICE']!=0]
national_buy_sell_inequal

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
15,Category_Tower_01,1,National,FTC151,Blue Diamond,20.0,160.24,133.53,1/5/2019 00:00:00,133.54,2/5/2019 00:00:00,AA130662,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Category_Tower_02,1,National,FVU386,Stocked,20.0,33.03,27.52,24/12/2021 00:00:00,27.53,24/12/2021 00:00:00,AA135990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Category_Tower_05,1,National,GDH137,Blue Diamond,20.0,57.34,47.78,13/5/2019 00:00:00,47.79,13/5/2015 00:00:00,AA130740,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Category_Tower_03,1,National,ELZ127,Stocked,20.0,24.00,20.00,25/3/2019 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Category_Tower_09,1,National,WYL164,e-Direct,20.0,16.71,13.92,1/9/2022 00:00:00,13.93,1/9/2022 00:00:00,AA137048,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9422250,Category_Tower_06,1,National,GHB85579,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422255,Category_Tower_06,1,National,GHB85582,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422257,Category_Tower_06,1,National,GHB85585,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422258,Category_Tower_06,1,National,GHB85594,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9422260,Category_Tower_06,1,National,GHB85614,e-Direct,20.0,92.07,76.72,26/1/2023 00:00:00,76.73,26/1/2023 00:00:00,AA130486,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
national_buy_sell_inequal['diff'] = (national_buy_sell_inequal['B1_EXVAT'] - national_buy_sell_inequal['B1_National_BUY_PRICE']).abs().round(2)
national_buy_sell_inequal_sig=national_buy_sell_inequal.loc[national_buy_sell_inequal['diff']>.01]
#remove unneeded columns
national_buy_sell=national_buy_sell_inequal_sig.drop(['WHSE_CODE', 'CL_DISTR_NO',
       'CL_ORD_PRC_BND_1', 'CL_CONTR_CODE', 'DIST_CODE_x', 'Category',
       'CENTRALLY_FUNDED', ], axis=1)
national_buy_sell

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,diff
642,Category_Tower_02,1,National,VJD799,e-Direct,20.0,75.06,62.55,25/3/2019 00:00:00,66.00,4/7/2022 00:00:00,AA137150,3.45
753,Category_Tower_02,1,National,FVN965,e-Direct,20.0,94.11,78.42,25/3/2019 00:00:00,78.44,2/2/2017 00:00:00,AA135994,0.02
942,Category_Tower_03,1,National,ELW166,Stocked,20.0,102.00,85.00,25/3/2019 00:00:00,68.25,14/3/2022 00:00:00,AA137672,16.75
1092,Category_Tower_01,1,National,FSB151,Stocked,20.0,675.00,562.50,3/10/2022 00:00:00,542.25,1/10/2018 00:00:00,AA137572,20.25
1230,Category_Tower_02,1,National,BWK067,Stocked,0.0,47.78,47.78,25/3/2019 00:00:00,39.82,1/10/2012 00:00:00,AA136874,7.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9236137,Category_Tower_05,1,National,FSS85006,e-Direct,20.0,26344.00,21953.33,4/1/2023 00:00:00,21954.13,3/1/2023 00:00:00,AA131976,0.80
9329611,Category_Tower_05,1,National,FSS85008,e-Direct,20.0,35708.90,29757.42,18/1/2023 00:00:00,29757.45,17/1/2023 00:00:00,AA131976,0.03
9344975,Category_Tower_04,1,National,IVZ85124,e-Direct,20.0,110.00,91.67,18/1/2023 00:00:00,95.60,17/1/2023 00:00:00,AA135190,3.93
9395632,Category_Tower_05,1,National,FSS85011,e-Direct,20.0,35198.80,29332.33,31/1/2023 00:00:00,29332.39,30/1/2023 00:00:00,AA131976,0.06
9395636,Category_Tower_05,1,National,FSS85012,e-Direct,20.0,35198.80,29332.33,31/1/2023 00:00:00,29332.39,30/1/2023 00:00:00,AA131976,0.06

## add margin, exclude where margin = 0%

In [82]:
national_buy_sell['%Margin']=round(((national_buy_sell['B1_EXVAT']-national_buy_sell['B1_National_BUY_PRICE'])/national_buy_sell['B1_EXVAT']),3)
national_buy_sell_margin=national_buy_sell.loc[national_buy_sell['%Margin']!=0]
national_buy_sell_margin

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,diff,%Margin
642,Category_Tower_02,1,National,VJD799,e-Direct,20.0,75.06,62.55,25/3/2019 00:00:00,66.00,4/7/2022 00:00:00,AA137150,3.45,-0.055
942,Category_Tower_03,1,National,ELW166,Stocked,20.0,102.00,85.00,25/3/2019 00:00:00,68.25,14/3/2022 00:00:00,AA137672,16.75,0.197
1092,Category_Tower_01,1,National,FSB151,Stocked,20.0,675.00,562.50,3/10/2022 00:00:00,542.25,1/10/2018 00:00:00,AA137572,20.25,0.036
1230,Category_Tower_02,1,National,BWK067,Stocked,0.0,47.78,47.78,25/3/2019 00:00:00,39.82,1/10/2012 00:00:00,AA136874,7.96,0.167
2513,Category_Tower_02,1,National,VJD893,e-Direct,20.0,63.18,52.65,25/3/2019 00:00:00,64.50,4/7/2022 00:00:00,AA137150,11.85,-0.225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8635089,Category_Tower_06,1,National,FAL24547,e-Direct,20.0,137.14,114.28,11/3/2022 00:00:00,132.38,10/3/2022 00:00:00,AA134594,18.10,-0.158
8667136,Category_Tower_04,1,National,ZZA275,e-Direct,20.0,159.97,133.31,10/5/2022 00:00:00,125.66,13/9/2017 00:00:00,AA131434,7.65,0.057
8667137,Category_Tower_04,1,National,ZZA276,e-Direct,20.0,207.99,173.32,10/5/2022 00:00:00,163.38,13/9/2017 00:00:00,AA131434,9.94,0.057
8667138,Category_Tower_04,1,National,ZZA277,e-Direct,20.0,224.05,186.71,10/5/2022 00:00:00,175.05,13/9/2017 00:00:00,AA131434,11.66,0.062
9344975,Category_Tower_04,1,National,IVZ85124,e-Direct,20.0,110.00,91.67,18/1/2023 00:00:00,95.60,17/1/2023 00:00:00,AA135190,3.93,-0.043

## C. Regional Prices. Dates Check

## Exclude PGID 1

In [3]:
df.head(3)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
0,Category_Tower_01,1,National,FSQ432,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Category_Tower_01,1,National,FSQ433,Blue Diamond,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Category_Tower_01,1,National,FSQ434,e-Direct,20.0,78.0,65.0,25/3/2019 00:00:00,65.0,1/8/2013 00:00:00,AA136688,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
regional_pgids=test_df.loc[df['PG_ID']!=1]
print(np.shape(regional_pgids))

(8850448, 19)

In [33]:
date_check=regional_pgids[(regional_pgids['EFFECTIVE_DATE']) < (regional_pgids['CP_EFFECTIVE_DATE'])]
date_check

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
89,Category_Tower_04,2907,Derby Hospitals Orthopaedics,FAM8511,e-Direct,20.0,242.85,202.38,2019-04-29,221.39,2020-03-02,AA131452,901.0,77,202.38,AA131452,77,MBMS,1.0
117,Category_Tower_04,1703,Burton Nhs Trust â€“ Ojr,FBV028,e-Direct,20.0,747.66,623.05,2019-04-29,732.34,2020-03-02,AA131388,901.0,R3,623.05,AA131388,R3,MBMS,1.0
127,Category_Tower_04,407,Southampton Joint Replacement Mini Comp,FJD2812,e-Direct,20.0,1028.16,856.80,2019-05-15,2156.00,2020-03-02,AA132238,904.0,TK,856.80,AA132238,TK,Bespoke deal,1.0
134,Category_Tower_04,407,Southampton Joint Replacement Mini Comp,FJD2813,e-Direct,20.0,1028.16,856.80,2019-03-29,2156.00,2020-03-02,AA132238,904.0,TK,856.80,AA132238,TK,Bespoke deal,1.0
135,Category_Tower_04,407,Southampton Joint Replacement Mini Comp,FJD2814,e-Direct,20.0,963.90,803.25,2019-05-15,2345.00,2020-03-02,AA132238,904.0,TK,803.25,AA132238,TK,Bespoke deal,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425081,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85557,e-Direct,20.0,178.20,148.50,2023-03-27,98.50,2023-10-01,AA130484,NaN,NaN,NaN,NaN,NaN,NPM,NaN
9425082,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85558,e-Direct,20.0,166.20,138.50,2023-03-27,98.50,2023-10-01,AA130484,NaN,NaN,NaN,NaN,NaN,NPM,NaN
9425083,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85559,e-Direct,20.0,130.20,108.50,2023-03-27,98.50,2023-10-01,AA130484,NaN,NaN,NaN,NaN,NaN,NPM,NaN
9425084,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85560,e-Direct,20.0,142.20,118.50,2023-03-27,98.50,2023-10-01,AA130484,NaN,NaN,NaN,NaN,NaN,NPM,NaN
9425085,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85561,e-Direct,20.0,78.00,65.00,2023-03-27,88.50,2023-10-01,AA130484,NaN,NaN,NaN,NaN,NaN,NPM,NaN

## Filter by National buy, regional sell

In [34]:
regional_sell=date_check.loc[(date_check['WHSE_CODE'].isna())]
#remove last n columns
#regional_sell_df = regional_sell.iloc[:,:-n]
regional_sell_df=regional_sell.drop(['WHSE_CODE', 'CL_DISTR_NO',
       'CL_ORD_PRC_BND_1', 'CL_CONTR_CODE', 'DIST_CODE_x'], axis=1)
#add margin calc
regional_sell_df['%Margin']=round(((regional_sell_df['B1_EXVAT']-regional_sell_df['B1_National_BUY_PRICE'])/regional_sell_df['B1_EXVAT']),3)
regional_sell_df

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,Category,CENTRALLY_FUNDED
151,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJK3877,e-Direct,20.0,1495.70,1246.42,2009-12-31,1116.0,2015-09-09,AA131388,MBMS,NaN
152,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJK3878,e-Direct,20.0,1495.70,1246.42,2009-12-31,1116.0,2015-09-09,AA131388,MBMS,NaN
529,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJH4974,e-Direct,20.0,1057.75,881.46,2009-12-31,660.0,2020-03-02,AA131416,MBMS,NaN
532,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJH4983,e-Direct,20.0,1057.75,881.46,2009-12-31,660.0,2020-03-02,AA131416,MBMS,NaN
534,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJH4984,e-Direct,20.0,1057.75,881.46,2009-12-31,660.0,2020-03-02,AA131416,MBMS,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425081,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85557,e-Direct,20.0,178.20,148.50,2023-03-27,98.5,2023-10-01,AA130484,NPM,NaN
9425082,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85558,e-Direct,20.0,166.20,138.50,2023-03-27,98.5,2023-10-01,AA130484,NPM,NaN
9425083,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85559,e-Direct,20.0,130.20,108.50,2023-03-27,98.5,2023-10-01,AA130484,NPM,NaN
9425084,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85560,e-Direct,20.0,142.20,118.50,2023-03-27,98.5,2023-10-01,AA130484,NPM,NaN
9425085,Category_Tower_06,6846,Ct06 Gn Resound Hearing Aids Npm Band 3 Cf,GHB85561,e-Direct,20.0,78.00,65.00,2023-03-27,88.5,2023-10-01,AA130484,NPM,NaN

## Exclude NPM

In [36]:
regional_df=regional_sell_df.loc[regional_sell_df['Category']!='NPM']
print(np.shape(regional_df))

(153711, 15)

## Add YTD and 4WK sales to Dates Check

In [37]:
dataset = regional_df
dataset_with_YTD= pd.merge(dataset,ytd_sales,on=['NPC','PG_ID'],how='left')
dataset_with_sales_YTD_4WKS= pd.merge(dataset_with_YTD,four_wks_sales,on=['NPC','PG_ID'],how='left')
dataset_with_sales_YTD_4WKS.to_excel('regional_df_YTD_4WKS_'+curr_date+'.xlsx', index = False)

In [72]:
regional_transacted_YTD = dataset_with_sales_YTD_4WKS.loc[dataset_with_sales_YTD_4WKS['YTD_SUPPLIED_UNITS'].notnull()]
regional_transacted_YTD.to_excel('regional_transacted_YTD_'+curr_date+'.xlsx', index = False)  
regional_transacted_YTD.head(3)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,Category,CENTRALLY_FUNDED,%Margin,YTD_SUPPLIED_UNITS,YTD_SALES,4WKS_SUPPLIED_UNITS,4WKS_SALES
38,Category_Tower_02,967,Doncaster Royal Infirmary - Theatre Protective...,ETC358,e-Direct,20.0,25.45,21.21,2022-03-22,21.21,2022-08-25,AA131044,NaN,NaN,0.000,3400.0,432.66,400.0,50.90
50,Category_Tower_02,967,Doncaster Royal Infirmary - Theatre Protective...,ETB109,e-Direct,20.0,19.95,16.62,2022-03-22,16.63,2022-08-25,AA131044,NaN,NaN,-0.001,500.0,39.92,NaN,NaN
51,Category_Tower_02,967,Doncaster Royal Infirmary - Theatre Protective...,ETB110,e-Direct,20.0,32.80,27.33,2022-03-22,27.34,2022-08-25,AA131044,NaN,NaN,-0.000,7000.0,918.68,750.0,98.43

## E. Outliers - Margin

In [73]:
regional_pgids.head(3)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED
31,Category_Tower_04,2190,Sandwell and West Birmingham Hospitals NHS Tru...,FIC2975,e-Direct,20.0,278.4,232.0,2020-04-11,295.0,2020-03-02,AA131446,901.0,C2,232.0,AA131446,C2,MBMS,1.0
32,Category_Tower_04,2190,Sandwell and West Birmingham Hospitals NHS Tru...,FIC2975,e-Direct,20.0,278.4,232.0,2020-04-11,295.0,2020-03-02,AA131446,901.0,E3,232.0,AA131446,E3,MBMS,1.0
37,Category_Tower_06,1083,HST Royal Berkshire NHS Foundation Trust,FCB13275,e-Direct,20.0,1194.0,995.0,2019-04-26,1000.0,2014-02-07,AA135092,904.0,WA,995.0,AA135092,WA,HCTED,1.0

In [78]:
regional_pgids['%Margin']=round(((regional_pgids['B1_EXVAT']-regional_pgids['CL_ORD_PRC_BND_1'])/regional_pgids['B1_EXVAT']),3)
print(np.shape(regional_pgids))

regional_pgids_margin=regional_pgids.loc[regional_pgids['WHSE_CODE'].notnull()]
print(np.shape(regional_pgids_margin))
regional_pgids_margin=regional_pgids_margin.loc[regional_pgids_margin['%Margin']!=0]
print(np.shape(regional_pgids_margin))
regional_pgids_margin

C:\Users\lisa.smith\AppData\Local\Temp\ipykernel_5528\1888926714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regional_pgids['%Margin']=round(((regional_pgids['B1_EXVAT']-regional_pgids['CL_ORD_PRC_BND_1'])/regional_pgids['B1_EXVAT']),3)

(8850448, 20)
(6973771, 20)
(240141, 20)

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,WHSE_CODE,CL_DISTR_NO,CL_ORD_PRC_BND_1,CL_CONTR_CODE,DIST_CODE_x,Category,CENTRALLY_FUNDED,%Margin
1882,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8129,e-Direct,20.0,0.00,0.00,2019-05-04,5500.00,2017-05-07,AA135042,903.0,MC,0.00,AA135042,MC,NaN,1.0,NaN
1890,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8130,e-Direct,20.0,0.00,0.00,2019-05-04,5500.00,2017-05-07,AA135042,903.0,MC,0.00,AA135042,MC,NaN,1.0,NaN
1891,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8131,e-Direct,20.0,0.00,0.00,2019-05-04,5500.00,2017-05-07,AA135042,903.0,MC,0.00,AA135042,MC,NaN,1.0,NaN
1892,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8132,e-Direct,20.0,0.00,0.00,2019-05-04,5500.00,2017-05-07,AA135042,903.0,MC,0.00,AA135042,MC,NaN,1.0,NaN
1894,Category_Tower_06,1173,Manchester University NHS Foundation Trust,FRF8133,e-Direct,20.0,0.00,0.00,2019-05-04,5500.00,2017-05-07,AA135042,903.0,MC,0.00,AA135042,MC,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9420923,Category_Tower_04,6180,The University Hospitals Dorset Nhs Foundation...,FJT26823,e-Direct,20.0,17.91,14.92,2023-01-27,14.93,2020-02-10,AA131434,904.0,09,14.93,AA131434,09,MBMS,1.0,-0.001
9420930,Category_Tower_04,6180,The University Hospitals Dorset Nhs Foundation...,FJT26830,e-Direct,20.0,14.38,11.98,2023-01-27,11.99,2020-02-10,AA131434,904.0,09,11.99,AA131434,09,MBMS,1.0,-0.001
9421299,Category_Tower_04,458,Airedale Joint Replacement Mini Comp,FQS536,e-Direct,20.0,21.54,17.95,2023-01-27,160.00,2020-03-02,AA132238,905.0,DU,17.96,AA132238,DU,MBMS,1.0,-0.001
9421300,Category_Tower_04,458,Airedale Joint Replacement Mini Comp,FQS536,e-Direct,20.0,21.54,17.95,2023-01-27,160.00,2020-03-02,AA132238,905.0,X3,17.96,AA132238,X3,MBMS,1.0,-0.001
9424210,Category_Tower_04,6180,The University Hospitals Dorset Nhs Foundation...,FJT65722,e-Direct,20.0,5.14,4.28,2023-01-27,4.29,2022-02-23,AA131434,904.0,09,4.29,AA131434,09,MBMS,1.0,-0.002

# remove zero buy, zero sell

In [79]:
regional_pgids_margin=regional_pgids_margin.loc[regional_pgids_margin['B1_EXVAT']!=0]
regional_pgids_margin=regional_pgids_margin.loc[regional_pgids_margin['CL_ORD_PRC_BND_1']!=0]

In [80]:
print(np.shape(regional_pgids_margin))

(178977, 20)

In [81]:
regional_pgids_margin.to_excel('regional_pgids_margin_outliers_'+curr_date+'.xlsx', index = False)

## Part 4 - Add sales data

In [10]:
ytd_sales = pd.read_csv("libra2023_YTD_Sales.csv", header = 0)
four_wks_sales = pd.read_csv("libra2023_four_Weeks_Sales.csv", header = 0)

In [17]:
ytd_sales.head(3)

      NPC  PG_ID  YTD_SUPPLIED_UNITS  YTD_SALES
0  AAA003      1                 2.0     680.40
1  AAG000      1            224000.0    8398.85
2  AAG000   4378              7000.0     300.18

In [18]:
four_wks_sales.head(3)

      NPC  PG_ID  4WKS_SUPPLIED_UNITS  4WKS_SALES
0  AAG000      1              13000.0      621.39
1  AAG000   4378               2000.0      104.39
2  AAN185      1              31700.0     2563.97

## Add sales data to zero sell

In [23]:
zero_sell_with_sales= pd.merge(zero_sell,ytd_sales,on=['NPC','PG_ID'],how='left')
zero_sell_with_sales_YTD_4WKS= pd.merge(zero_sell_with_sales,four_wks_sales,on=['NPC','PG_ID'],how='left')
zero_sell_with_sales_YTD_4WKS.to_excel('zero_sell_with_sales_YTD_4WKS_'+curr_date+'.xlsx', index = False)

## Add sales data to any dataset

In [71]:
# update dataset value and output filename
dataset = regional_df
dataset_with_YTD= pd.merge(dataset,ytd_sales,on=['NPC','PG_ID'],how='left')
dataset_with_sales_YTD_4WKS= pd.merge(dataset_with_YTD,four_wks_sales,on=['NPC','PG_ID'],how='left')
dataset_with_sales_YTD_4WKS.to_excel('regional_df_with_sales_'+curr_date+'.xlsx', index = False)

In [12]:
dataset_with_YTD

,ITEM_CLASS,PG_ID,PG_NAME,NPC,CHANNEL,PERCENTAGE_RATE,B1_SELL_PRICE,B1_EXVAT,EFFECTIVE_DATE,B1_National_BUY_PRICE,CP_EFFECTIVE_DATE,CONTRACT_ID,Category,CENTRALLY_FUNDED,%Margin,YTD_SUPPLIED_UNITS,YTD_SALES
0,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJK3877,e-Direct,20.0,1495.70,1246.42,31/12/2009 00:00:00,1116.00,9/9/2015 00:00:00,AA131388,MBMS,NaN,0.105,NaN,NaN
1,Category_Tower_04,248,Orthopaedic Joint Replacement (Master),FJK3878,e-Direct,20.0,1495.70,1246.42,31/12/2009 00:00:00,1116.00,9/9/2015 00:00:00,AA131388,MBMS,NaN,0.105,NaN,NaN
2,Category_Tower_04,3819,Leeds And York Partnership Nhs Foundation Trus...,FCB9725,e-Direct,20.0,6.80,5.67,29/4/2019 00:00:00,16.00,3/2/2020 00:00:00,AA132238,NaN,NaN,-1.822,NaN,NaN
3,Category_Tower_08,576,Royal Devon And Exeter Blood Gas,HFL1023,e-Direct,20.0,495.31,412.76,15/5/2019 00:00:00,412.76,29/4/2010 00:00:00,AA111980,NaN,NaN,0.000,NaN,NaN
4,Category_Tower_06,2673,HCTED DEV 17 - Peripheral Vascular Stents,FRM11537,e-Direct,20.0,0.00,0.00,15/5/2019 00:00:00,787.50,19/9/2017 00:00:00,AA126124,HCTED,NaN,-inf,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
818125,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13860,e-Direct,20.0,109.36,91.13,30/1/2023 00:00:00,88.40,9/12/2020 00:00:00,AA133894,NaN,NaN,0.030,NaN,NaN
818126,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13872,e-Direct,20.0,392.28,326.90,30/1/2023 00:00:00,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,0.030,NaN,NaN
818127,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13896,e-Direct,20.0,392.28,326.90,30/1/2023 00:00:00,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,0.030,NaN,NaN
818128,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13900,e-Direct,20.0,392.28,326.90,30/1/2023 00:00:00,317.09,9/12/2020 00:00:00,AA133894,NaN,NaN,0.030,NaN,NaN
818129,Category_Tower_05,6957,All Towers - Ncf - Master Pgid For Icbs Nov 2022,GAZ13902,e-Direct,20.0,418.91,349.09,30/1/2023 00:00:00,338.62,9/12/2020 00:00:00,AA133894,NaN,NaN,0.030,NaN,NaN

## Sand-pit

In [ ]:
one_whse_pgid=conlin_with_PGID.groupby('WHSE_CODE_x').size().sort_values(ascending=False) \
  .reset_index(name='CL_NSV_CODE')
one_whse_pgid

## Create col Buy_Price_N_R; BuyPrice_inclVAT; PercentageDiff_Sell_Buy

In [ ]:
conlin_legacy_contract['BuyPrice_N_R']=np.where(conlin_legacy_contract['CL_NSV_CODE'].notnull(),"Regional","National")
conlin_legacy_contract['BuyPrice_inclVAT']=np.where(conlin_legacy_contract['BuyPrice_N_R']=="National",(conlin_legacy_contract['Buy_PRICE']
                                                  *(100+conlin_legacy_contract['PERCENTAGE_RATE']))/100,
                                                  (conlin_legacy_contract['B1_COST_PRICE']
                                                  *(100+conlin_legacy_contract['PERCENTAGE_RATE']))/100)
conlin_legacy_contract['PercentageDiff_Sell_Buy']=((conlin_legacy_contract['B1_PRICE']-conlin_legacy_contract['BuyPrice_inclVAT'])/conlin_legacy_contract['BuyPrice_inclVAT'])*100

In [48]:
import os,time,winsound
hours=0
minutes=5
sec=0

counter=hours*3600+minutes*60+sec
mins=int(counter/60)
hr=int(mins/60)

while counter > 0:
    counter-=1
    #print('%i hours, ' %hr + '%i minutes ' %mins + 'and %s seconds' %counter)
    mins=int(counter/60)
    hr=int(mins/60)
    time.sleep(1)


Freq = 400 # Set Frequency To 2500 Hertz
Dur = 500 # Set Duration To 1000 ms == 1 second
winsound.Beep(Freq,Dur)
winsound.Beep(Freq,Dur)
winsound.Beep(Freq,Dur)